In [369]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Horse Data

In [370]:
horse_data=pd.read_csv('HorseData2013.csv',encoding='latin-1')

In [371]:
horse_data.shape

(205661, 100)

In [372]:
horse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205661 entries, 0 to 205660
Data columns (total 100 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   205661 non-null  int64
 1   X.1          205661 non-null  int64
 2   X            205661 non-null  int64
 3   RNO          205661 non-null  int64
 4   TNO          205661 non-null  int64
 5   E            6393 non-null    object
 6   FORM         194019 non-null  object
 7   HORSE        205661 non-null  object
 8   CTY          45451 non-null   object
 9   BP           205661 non-null  int64
 10  JOCKEY       205605 non-null  object
 11  ALL          205661 non-null  float64
 12  WGT          205661 non-null  float64
 13  STAKES       205661 non-null  int64
 14  AGE          205661 non-null  int64
 15  COL          205661 non-null  object
 16  SEX          205661 non-null  object
 17  TRAINER      205661 non-null  object
 18  STABLES      205661 non-null  object
 19  STARTS       205661 non-null  int64
 20  WINS         205661 non-null  int64
 21  PL2          205661 non-null  int64
 22  PL3          205661 non-null  int64
 23  TDS          205661 non-null  int64
 24  TDW          205661 non-null  int64
 25  TD2          205661 non-null  int64
 26  TD3          205661 non-null  int64
 27  TCS          205661 non-null  int64
 28  TCW          205661 non-null  int64
 29  TC2          205661 non-null  int64
 30  TC3          205661 non-null  int64
 31  FS           205661 non-null  int64
 32  FW           205661 non-null  int64
 33  F2           205661 non-null  int64
 34  F3           205661 non-null  int64
 35  GS           205661 non-null  int64
 36  GW           205661 non-null  int64
 37  G2           205661 non-null  int64
 38  G3           205661 non-null  int64
 39  DS           205661 non-null  int64
 40  DW           205661 non-null  int64
 41  D2           205661 non-null  int64
 42  D3           205661 non-null  int64
 43  SS           205661 non-null  int64
 44  SW           205661 non-null  int64
 45  S2           205661 non-null  int64
 46  S3           205661 non-null  int64
 47  HS           205661 non-null  int64
 48  HW           205661 non-null  int64
 49  H2           205661 non-null  int64
 50  H3           205661 non-null  int64
 51  FUS          205661 non-null  int64
 52  FUW          205661 non-null  int64
 53  FU2          205661 non-null  int64
 54  FU3          205661 non-null  int64
 55  DAYS         205661 non-null  int64
 56  RUNS         205661 non-null  int64
 57  DDIST        205661 non-null  int64
 58  DWGT         205661 non-null  float64
 59  BREEDING     205661 non-null  object
 60  OWNER        196511 non-null  object
 61  SILKS        195898 non-null  object
 62  DISTWINS     135614 non-null  object
 63  TBASE        205661 non-null  float64
 64  XPEAK        205661 non-null  float64
 65  PRICE        205661 non-null  float64
 66  LBD          205661 non-null  int64
 67  SCR          205661 non-null  object
 68  DOK          197963 non-null  object
 69  FOK          120863 non-null  object
 70  IMP          56050 non-null   object
 71  LEN          205661 non-null  float64
 72  FNO          205661 non-null  int64
 73  FRT          205661 non-null  int64
 74  WNF          182272 non-null  object
 75  POS          205661 non-null  int64
 76  WET          140719 non-null  object
 77  JRT          205661 non-null  int64
 78  DS1          194019 non-null  object
 79  DS2          183008 non-null  object
 80  DS3          172688 non-null  object
 81  RS1          205661 non-null  float64
 82  RS2          205661 non-null  float64
 83  RS3          205661 non-null  float64
 84  BPRICE       205661 non-null  int64
 85  CPRICE       205661 non-null  float64
 86  TS1          205661 non-null  object
 87  TS2          205661 non-null  object
 88  TS3          205661 non-null  object
 89  COMMENT      51057 non-null   object
 90  FNAME        205661 non-null  object
 91  FDATE        205661 non-null  object
 92  VCODE        205661 non-null  object
 93  RACEID       205661 non-null  object
 94  HORSEID      205661 non-null  object
 95  MTYPE        205661 non-null  object
 96  JockeyWinP   205661 non-null  float64
 97  JockeyRATE   205661 non-null  float64
 98  TrainerWinP  205661 non-null  float64
 99  TrainerRATE  205661 non-null  float64
dtypes: float64(15), int64(53), object(32)
memory usage: 156.9+ MB

# Jockey Data

In [373]:
jockey_stats=pd.read_csv('Jockey_Stats_2013.csv')

In [374]:
jockey_stats.shape

(1534, 9)

In [375]:
jockey_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1534 entries, 0 to 1533
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   JOCKEY   1534 non-null   object
 1   Bets     1534 non-null   int64
 2   Wins     1534 non-null   int64
 3   $Return  1534 non-null   float64
 4   Outs     1534 non-null   int64
 5   %SR      1534 non-null   float64
 6   $Profit  1534 non-null   float64
 7   %POT     1534 non-null   float64
 8   RATE     1534 non-null   float64
dtypes: float64(5), int64(3), object(1)
memory usage: 108.0+ KB

# Race Data

In [376]:
race_data=pd.read_csv('RaceData2013.csv')

In [377]:
race_data.shape

(20149, 33)

In [378]:
race_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20149 entries, 0 to 20148
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  20149 non-null  int64
 1   X           20149 non-null  int64
 2   RNO         20149 non-null  int64
 3   RACENAME    20149 non-null  object
 4   DIST        20149 non-null  int64
 5   JUMP        20149 non-null  object
 6   CLASS       20149 non-null  object
 7   STAKES      20149 non-null  int64
 8   AGE         7930 non-null   object
 9   REST        2275 non-null   object
 10  CLAIM       20149 non-null  object
 11  WEIGHTS     20149 non-null  object
 12  LIMIT       20149 non-null  float64
 13  NREC        20149 non-null  int64
 14  GOING       20149 non-null  object
 15  T1          20149 non-null  int64
 16  T2          20149 non-null  int64
 17  T3          20149 non-null  int64
 18  WN          20149 non-null  float64
 19  QN          20149 non-null  float64
 20  EX          20149 non-null  float64
 21  TT          20149 non-null  float64
 22  T4          20149 non-null  int64
 23  PD1         20149 non-null  float64
 24  PD2         20149 non-null  float64
 25  PD3         20149 non-null  float64
 26  FF          20149 non-null  float64
 27  SCRS        14809 non-null  object
 28  FDATE       20149 non-null  object
 29  VCODE       20149 non-null  object
 30  RACEID      20149 non-null  object
 31  MTYPE       20149 non-null  object
 32  ADJ_JUMP    20149 non-null  object
dtypes: float64(9), int64(10), object(14)
memory usage: 5.1+ MB

# Past Performance

In [379]:
past_perf=pd.read_csv('PastPerfData2013.csv')

In [380]:
past_perf.shape

(195493, 54)

In [381]:
past_perf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195493 entries, 0 to 195492
Data columns (total 54 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  195493 non-null  int64
 1   X.1         195493 non-null  int64
 2   X           195493 non-null  int64
 3   HORSE       195493 non-null  object
 4   FIN         195493 non-null  int64
 5   STR         195493 non-null  int64
 6   MARG        195493 non-null  float64
 7   DATE        195493 non-null  object
 8   TRACK       195493 non-null  object
 9   M           192966 non-null  object
 10  RNO         195493 non-null  int64
 11  PRIZE       195493 non-null  float64
 12  PRWIN       195493 non-null  float64
 13  EVENT       195493 non-null  object
 14  CLASS       195493 non-null  object
 15  AGE         76618 non-null   object
 16  REST        21660 non-null   object
 17  G           195493 non-null  object
 18  DIST        195493 non-null  int64
 19  TIME        195493 non-null  float64
 20  SDIST       195493 non-null  int64
 21  STIME       195493 non-null  float64
 22  OP          137922 non-null  object
 23  MP          30682 non-null   object
 24  SP          195493 non-null  object
 25  WGT         195493 non-null  float64
 26  ALL         195493 non-null  float64
 27  LIM         195493 non-null  float64
 28  JOCKEY      195493 non-null  object
 29  BP          195493 non-null  int64
 30  SD          195493 non-null  int64
 31  TW          195493 non-null  int64
 32  EI          195493 non-null  int64
 33  FO          195493 non-null  int64
 34  F1          195493 non-null  int64
 35  OTHER1      195493 non-null  object
 36  WGT1        195493 non-null  float64
 37  F2          195491 non-null  float64
 38  OTHER2      195491 non-null  object
 39  WGT2        195493 non-null  float64
 40  F3          195430 non-null  float64
 41  OTHER3      195430 non-null  object
 42  WGT3        195493 non-null  float64
 43  TRT         195493 non-null  float64
 44  WRT         194289 non-null  float64
 45  FNAME       195493 non-null  object
 46  FDATE       195493 non-null  object
 47  HORSEID     195493 non-null  object
 48  CODE        195493 non-null  object
 49  RACEID      195493 non-null  object
 50  MTYPE       195493 non-null  object
 51  RACESTAKES  195493 non-null  int64
 52  SP_ODDS     195493 non-null  float64
 53  DaysOLD     195493 non-null  int64
dtypes: float64(16), int64(16), object(22)
memory usage: 80.5+ MB

# Trainer's Data

In [382]:
trainer_data=pd.read_csv('Trainer_Stats_2013.csv')

In [383]:
trainer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4491 entries, 0 to 4490
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   TRAINER  4491 non-null   object
 1   Bets     4491 non-null   int64
 2   Wins     4491 non-null   int64
 3   $Return  4491 non-null   float64
 4   Outs     4491 non-null   int64
 5   %SR      4491 non-null   float64
 6   $Profit  4491 non-null   float64
 7   %POT     4491 non-null   float64
 8   RATE     4491 non-null   float64
dtypes: float64(5), int64(3), object(1)
memory usage: 315.9+ KB

In [384]:
trainer_data.shape

(4491, 9)

# Past Performance

In [385]:
past_perf

,Unnamed: 0,X.1,X,HORSE,FIN,STR,MARG,DATE,TRACK,M,...,WRT,FNAME,FDATE,HORSEID,CODE,RACEID,MTYPE,RACESTAKES,SP_ODDS,DaysOLD
0,656,832,832,Zartiki,12,12,18.0,2013-07-15,Moruya,U,...,0.0,G:/R Studio/Horse Racing/Model_10/Price Files ...,2013-08-02,2013-07-15Zartiki5,MOY,2013-07-15MOY5,N,15000,4.75,17
1,657,833,833,Zartiki,5,12,4.9,2013-06-28,Acton,p,...,0.0,G:/R Studio/Horse Racing/Model_10/Price Files ...,2013-08-02,2013-06-28Zartiki7,ACT,2013-06-28ACT7,N,15000,7.00,21
2,658,834,834,Zartiki,5,12,5.3,2013-06-07,Acton,P,...,0.0,G:/R Studio/Horse Racing/Model_10/Price Files ...,2013-08-02,2013-06-07Zartiki7,ACT,2013-06-07ACT7,N,13000,11.00,133
3,659,835,835,Zartiki,7,10,7.0,2013-01-25,Cberra,P,...,0.0,G:/R Studio/Horse Racing/Model_10/Price Files ...,2013-08-02,2013-01-25Zartiki7,CAB,2013-01-25CAB7,N,15000,6.00,12
4,660,836,836,Zartiki,2,10,0.1,2013-01-13,Cowra,U,...,0.0,G:/R Studio/Horse Racing/Model_10/Price Files ...,2013-08-02,2013-01-13Zartiki5,COW,2013-01-13COW5,N,15000,2.25,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195488,1548026,19298375,19298375,Craiglea Gee Tee,5,9,3.0,2013-01-31,Mackay,U,...,0.0,G:/R Studio/Horse Racing/Model_10/Price Files ...,2013-02-14,2013-01-31Craiglea Gee Tee8,MAC,2013-01-31MAC8,N,10000,6.50,0
195489,1548100,19311015,19311015,Major Handell,2,14,0.5,2013-03-04,Esper.,U,...,0.0,G:/R Studio/Horse Racing/Model_10/Price Files ...,2015-05-08,2013-03-04Major Handell5,ESP,2013-03-04ESP5,N,8500,31.00,0
195490,1548179,19326491,19326491,Love Potion,8,8,7.6,2013-09-21,Wagga,U,...,0.0,G:/R Studio/Horse Racing/Model_10/Price Files ...,2013-10-12,2013-09-21Love Potion3,WAG,2013-09-21WAG3,N,8000,12.00,0
195491,1548182,19328570,19328570,Carefree,9,9,14.1,2013-02-12,Queanb,P,...,0.0,G:/R Studio/Horse Racing/Model_10/Price Files ...,2013-05-18,2013-02-12Carefree4,QEN,2013-02-12QEN4,N,15000,26.00,0
195492,1548183,19328647,19328647,Bayonet Charge,8,10,3.9,2013-05-02,Wagga,U,...,0.0,G:/R Studio/Horse Racing/Model_10/Price Files ...,2013-05-18,2013-05-02Bayonet Charge5,WAG,2013-05-02WAG5,N,20000,51.00,0

In [386]:
past_perf.drop('Unnamed: 0',axis=1,inplace=True)

In [387]:
past_perf.shape

(195493, 53)

# Checking null values

In [388]:
past_perf.isnull().sum()

X.1                0
X                  0
HORSE              0
FIN                0
STR                0
MARG               0
DATE               0
TRACK              0
M               2527
RNO                0
PRIZE              0
PRWIN              0
EVENT              0
CLASS              0
AGE           118875
REST          173833
G                  0
DIST               0
TIME               0
SDIST              0
STIME              0
OP             57571
MP            164811
SP                 0
WGT                0
ALL                0
LIM                0
JOCKEY             0
BP                 0
SD                 0
TW                 0
EI                 0
FO                 0
F1                 0
OTHER1             0
WGT1               0
F2                 2
OTHER2             2
WGT2               0
F3                63
OTHER3            63
WGT3               0
TRT                0
WRT             1204
FNAME              0
FDATE              0
HORSEID            0
CODE               0
RACEID             0
MTYPE              0
RACESTAKES         0
SP_ODDS            0
DaysOLD            0
dtype: int64

In [389]:
past_perf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195493 entries, 0 to 195492
Data columns (total 53 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   X.1         195493 non-null  int64
 1   X           195493 non-null  int64
 2   HORSE       195493 non-null  object
 3   FIN         195493 non-null  int64
 4   STR         195493 non-null  int64
 5   MARG        195493 non-null  float64
 6   DATE        195493 non-null  object
 7   TRACK       195493 non-null  object
 8   M           192966 non-null  object
 9   RNO         195493 non-null  int64
 10  PRIZE       195493 non-null  float64
 11  PRWIN       195493 non-null  float64
 12  EVENT       195493 non-null  object
 13  CLASS       195493 non-null  object
 14  AGE         76618 non-null   object
 15  REST        21660 non-null   object
 16  G           195493 non-null  object
 17  DIST        195493 non-null  int64
 18  TIME        195493 non-null  float64
 19  SDIST       195493 non-null  int64
 20  STIME       195493 non-null  float64
 21  OP          137922 non-null  object
 22  MP          30682 non-null   object
 23  SP          195493 non-null  object
 24  WGT         195493 non-null  float64
 25  ALL         195493 non-null  float64
 26  LIM         195493 non-null  float64
 27  JOCKEY      195493 non-null  object
 28  BP          195493 non-null  int64
 29  SD          195493 non-null  int64
 30  TW          195493 non-null  int64
 31  EI          195493 non-null  int64
 32  FO          195493 non-null  int64
 33  F1          195493 non-null  int64
 34  OTHER1      195493 non-null  object
 35  WGT1        195493 non-null  float64
 36  F2          195491 non-null  float64
 37  OTHER2      195491 non-null  object
 38  WGT2        195493 non-null  float64
 39  F3          195430 non-null  float64
 40  OTHER3      195430 non-null  object
 41  WGT3        195493 non-null  float64
 42  TRT         195493 non-null  float64
 43  WRT         194289 non-null  float64
 44  FNAME       195493 non-null  object
 45  FDATE       195493 non-null  object
 46  HORSEID     195493 non-null  object
 47  CODE        195493 non-null  object
 48  RACEID      195493 non-null  object
 49  MTYPE       195493 non-null  object
 50  RACESTAKES  195493 non-null  int64
 51  SP_ODDS     195493 non-null  float64
 52  DaysOLD     195493 non-null  int64
dtypes: float64(16), int64(15), object(22)
memory usage: 79.0+ MB

# Checking each and every columns

In [390]:
past_perf['FIN'].value_counts()

1     19946
2     19890
3     19817
4     19735
5     19384
6     18635
7     17402
8     15683
9     13422
10    10916
11     8153
12     5824
13     3274
14     1932
15      578
99      507
16      322
17       44
18       20
19        3
20        3
23        1
21        1
22        1
Name: FIN, dtype: int64

In [391]:
past_perf['M'].value_counts()

U    80503
P    55049
M    31946
u    11841
p     9746
m     3881
Name: M, dtype: int64

In [392]:
past_perf['AGE'].value_counts()

3+    40175
3     18379
2      7779
2+     6427
4+     3460
34      186
23      133
4        42
45       37
Name: AGE, dtype: int64

In [393]:
past_perf['REST'].value_counts()

fm     11291
chg     4862
f       3443
m       1133
cg       879
hg        52
Name: REST, dtype: int64

In [394]:
past_perf['DIST'].value_counts()

1200    37607
1400    27681
1600    20907
1000    16957
1100    13192
        ...
2175        5
2106        5
1125        5
2212        5
2360        4
Name: DIST, Length: 427, dtype: int64

In [395]:
past_perf['DIST'].value_counts()

1200    37607
1400    27681
1600    20907
1000    16957
1100    13192
        ...
2175        5
2106        5
1125        5
2212        5
2360        4
Name: DIST, Length: 427, dtype: int64

In [396]:
past_perf['TIME'].max()

503.85

In [397]:
past_perf['MTYPE'].value_counts()

N    195493
Name: MTYPE, dtype: int64

In [398]:
past_perf['MTYPE'].nunique()

1

In [399]:
past_perf['TW'].unique()

array([ 0,  5,  6, 11,  2,  7,  1,  4,  3, 13, 12, 10,  8,  9, 14, 15, 16,
       19, 17, 18, 20, 22, 23, 21], dtype=int64)

In [400]:
past_perf['EI'].unique()

array([ 2,  0,  5,  6,  1,  3,  4, 10,  7, 11,  8,  9, 12, 13, 14, 15, 16,
       17, 19, 18, 20, 23, 22, 21], dtype=int64)

In [401]:
past_perf['FO'].unique()

array([ 4,  8,  6,  2,  5,  7,  3,  1, 12, 13,  9, 11, 10, 14, 16,  0, 15,
       17, 18, 20, 19, 21, 23, 22], dtype=int64)

In [402]:
past_perf['BP'].unique()

array([10,  6, 11,  2,  1,  4,  7,  3,  5, 13, 16,  9, 14,  8, 12, 15, 18,
       17, 19, 20, 24, 23, 21, 22], dtype=int64)

In [403]:
past_perf['SD'].unique()

array([ 2,  8,  5,  1,  6,  3,  4, 10,  7, 11,  9, 12, 13, 14, 15,  0, 16,
       17, 19, 18, 20, 22, 23, 21], dtype=int64)

In [404]:
past_perf['G'].value_counts()

G    98972
D    47711
S    19910
H    18222
3     5459
4     1961
5      847
6      578
X      457
7      434
8      354
9      280
2      156
F      148
1        4
Name: G, dtype: int64

In [405]:
past_perf['ALL'].value_counts()

 0.0    147263
-2.0     16554
-3.0     16193
-1.5      7688
-1.0      4539
-4.0      2295
-0.5       366
-2.5       365
 1.0       119
-3.5        57
-2.8        10
-0.8         7
-1.3         7
-0.3         7
-1.8         6
 1.5         6
-2.3         6
 2.0         2
-3.8         1
-3.3         1
 1.8         1
Name: ALL, dtype: int64

In [406]:
past_perf['DIST'].value_counts()

1200    37607
1400    27681
1600    20907
1000    16957
1100    13192
        ...
2175        5
2106        5
1125        5
2212        5
2360        4
Name: DIST, Length: 427, dtype: int64

In [407]:
past_perf['LIM'].value_counts()

54.0    100971
0.0      57438
55.0     11456
54.5      6260
55.5      3019
53.0      2497
51.0      2248
56.0      2134
51.5      1954
52.0      1812
52.5      1200
53.5      1122
56.5       853
65.0       743
64.0       549
57.0       438
57.5       171
50.0       154
66.5        79
66.0        77
58.0        61
50.5        58
49.0        44
47.0        38
58.5        18
64.5        15
46.5        14
48.0        14
49.5        13
65.5        13
46.0        12
45.5        11
68.0         7
Name: LIM, dtype: int64

In [408]:
past_perf['TW'].value_counts()

0     172727
3       2404
2       2388
1       2387
4       2379
5       2375
6       2287
7       2103
8       1830
9       1486
10      1130
11       848
12       567
13       276
14       180
15        62
16        39
17        11
18         7
19         2
20         2
22         1
21         1
23         1
Name: TW, dtype: int64

In [409]:
past_perf['EI'].value_counts()

0     65375
1     12851
3     12817
2     12790
4     12719
5     12719
6     12444
7     11719
8     10731
9      9300
10     7645
11     5835
12     4199
13     2332
14     1404
15      369
16      198
17       23
18       14
19        3
20        3
22        1
21        1
23        1
Name: EI, dtype: int64

In [410]:
past_perf['F1'].value_counts()

1    175625
2     19868
Name: F1, dtype: int64

In [411]:
past_perf['WRT'].value_counts()

0.0     175359
3.0       1526
0.1        905
1.2        879
0.2        845
         ...
92.1         1
57.9         1
67.8         1
76.9         1
92.9         1
Name: WRT, Length: 269, dtype: int64

In [412]:
past_perf['FNAME'].value_counts()

G:/R Studio/Horse Racing/Model_10/Price Files 2010-2017/F Files/ASC01012014F.DBF    778
G:/R Studio/Horse Racing/Model_10/Price Files 2010-2017/F Files/AWP02112013F.DBF    750
G:/R Studio/Horse Racing/Model_10/Price Files 2010-2017/F Files/ARP10052014F.DBF    696
G:/R Studio/Horse Racing/Model_10/Price Files 2010-2017/F Files/HAP04122013F.DBF    668
G:/R Studio/Horse Racing/Model_10/Price Files 2010-2017/F Files/BAK04092013F.DBF    595
                                                                                   ...
G:/R Studio/Horse Racing/Model_10/Price Files 2010-2017/F Files/FAB02012016F.DBF      1
G:/R Studio/Horse Racing/Model_10/Price Files 2010-2017/F Files/NAD16082014F.DBF      1
G:/R Studio/Horse Racing/Model_10/Price Files 2010-2017/F Files/NOT29052014F.DBF      1
G:/R Studio/Horse Racing/Model_10/Price Files 2010-2017/F Files/CAA20082016F.DBF      1
G:/R Studio/Horse Racing/Model_10/Price Files 2010-2017/F Files/TRP08112014F.DBF      1
Name: FNAME, Length: 6478, dtype: int64

In [413]:
past_perf['MTYPE'].value_counts()

N    195493
Name: MTYPE, dtype: int64

In [414]:
past_perf['TRACK'].value_counts()

Shatin    6060
Suncst    4290
G Cst     3810
Ascot     3808
Bel.Pk    3750
          ...
Waikou      44
Avoca       44
Edenhp      35
B'berg      11
Cran         8
Name: TRACK, Length: 220, dtype: int64

In [415]:
past_perf['TRACK'].unique()

array(['Moruya', 'Acton', 'Cberra', 'Cowra', 'Gundag', 'Taree', 'Muswel',
       "N'ctle", 'Wodong', 'Benlla', 'Wagga', "G'burn", 'Nowra', 'Sapph',
       'Queanb', 'Kem.Gr', 'Wyong', 'Seymor', 'Albury', 'Mudgee', 'Bath.',
       "H'bury", "C'bury", "R'hill", 'Parkes', 'W.Farm', 'Geesyn',
       "G'ford", 'Ballna', 'Orange', 'Scone', 'Corowa', 'Well', 'Cran.',
       "M'dura", 'Donald', 'Dubbo', 'E.Farm', 'Suncst', 'Twbc', 'Tatura',
       'Cess', 'M.V.', 'Narran', "R'wick", 'Forbes', 'Oakbnk', 'Morhpk',
       'Mphvl', 'G Cst', 'Gilgan', 'F. Bay', 'Gunndh', 'Pt Mac', "W'bee",
       'Bend', "K'ton", 'Wang', "P'ham", 'Narrom', 'Tamwth', 'Quir',
       'Ipswic', 'Cushio', 'Graft', 'Casino', "M'bah", 'Pion P', 'M.Brge',
       'Gawlr', 'Balakl', 'Walcha', 'Terang', "W'bool", 'Ararat',
       'Stawel', 'Morn.', 'Y.Glen', 'Strath', 'Mt.Gmb', 'Bortwn',
       'Penola', 'Flem', 'Swan H', "N'cort", 'Pt Lin', 'Pt Aug', "W'beal",
       'Warren', "G'long", "H'ton", 'Echuca', "D'ben", "K'more", 'Sale',
       'Bairns', 'Horsh.', "Ball't", 'Ellers', 'Arpark', 'Hastng',
       'Ruakak', 'Cootam', 'Leeton', 'Colrn', 'Caster', 'Terapa',
       'Te Awa', 'Northm', 'Bel.Pk', 'Ascot', 'Pinjra', 'Kensin',
       'Kalgl.', 'Albany', 'Gldton', 'Mt.Bkr', 'Esper.', "T'yay",
       'Bunbry', 'Narrog', 'Broome', 'Caulf.', 'Pt Hed', 'Robrne',
       'Carnvn', 'St.Ck', 'Lakesi', 'Coffs', 'Murtoa', 'Colac', 'Hillsi',
       'Paeroa', 'Gunbwr', 'Bkn.Hl', 'Devs', 'Launc.', 'H.Rock', 'Avoca',
       'Manang', 'Waipuk', 'Waganu', 'Awapun', 'Tauher', 'Wodvil',
       "B'dsrt", 'Traral', 'Kerang', 'Pukohe', 'Hawera', "H'valy",
       'Shatin', 'Bowrvl', 'Kemps.', 'Lismor', 'Rocky', 'Campdn', 'Moree',
       'Tearoh', 'Trenth', 'Emrld', 'Edenhp', 'Hobart', "T'vill", 'Roma',
       'Twba', 'Dalby', 'Mackay', 'Yepoon', 'Armdle', 'Gl.Inn', 'Halidn',
       'Dunkld', 'Mortlk', 'Matmat', 'Otaki', 'Reeftn', 'Hoktik',
       'Kumara', 'Kingsc', 'Wairoa', 'Mt.Isa', 'Gatton', 'Kilcoy',
       "C'bran", 'Coonam', 'Inver.', 'Gwindi', 'Avdale', 'Pkkura',
       'Taupo', 'Teteko', 'Riccat', 'Tauran', 'Thames', 'Wavley', "W'lea",
       'Waikou', 'Darvil', 'Wingat', 'Gore', 'Omakau', 'Oamaru', 'Timaru',
       'Ashbur', 'Waimat', 'Grymth', 'Asc.Pk', 'Wintnz', 'Rivton',
       'Crmwel', 'Wyndnz', 'Motara', 'Clare', 'Cairns', 'Innis.',
       "W'wick", "B'berg", 'Hobins', 'Cran'], dtype=object)

In [416]:
past_perf['SDIST'].unique()

array([600,   0, 609, 615, 605, 604, 612, 606, 610, 602,  60, 800, 400,
       613, 617, 608, 603], dtype=int64)

In [417]:
past_perf.cov()

,X.1,X,FIN,STR,MARG,RNO,PRIZE,PRWIN,DIST,TIME,...,WGT1,F2,WGT2,F3,WGT3,TRT,WRT,RACESTAKES,SP_ODDS,DaysOLD
X.1,1.431672e+13,1.431672e+13,883841.763476,165390.966947,1.264151e+06,-29079.033646,2.730598e+08,2.683720e+07,-2.622214e+07,-2.573137e+06,...,-147629.324320,-50634.976632,-167426.210287,-75531.656201,-220659.858145,89977.127401,-141917.289745,2.861884e+11,8.393346e+06,-4.323268e+07
X,1.431672e+13,1.431672e+13,883841.763476,165390.966947,1.264151e+06,-29079.033646,2.730598e+08,2.683720e+07,-2.622214e+07,-2.573137e+06,...,-147629.324320,-50634.976632,-167426.210287,-75531.656201,-220659.858145,89977.127401,-141917.289745,2.861884e+11,8.393346e+06,-4.323268e+07
FIN,8.838418e+05,8.838418e+05,33.969098,2.858141,3.610588e+01,0.671875,5.444982e+01,-2.914780e+01,2.133183e+02,1.677356e+01,...,0.856769,-0.920830,0.947433,-1.226868,1.044410,-21.392910,-0.286933,5.550065e+04,2.501159e+01,-3.391304e+00
STR,1.653910e+05,1.653910e+05,2.858141,6.227387,1.075854e+00,1.678379,1.170950e+02,7.127249e+00,2.595873e+01,6.981333e-01,...,-0.198581,-0.130355,-0.127738,-0.193540,0.096442,0.415682,-0.187867,1.214375e+05,8.557552e+00,-1.176654e+01
MARG,1.264151e+06,1.264151e+06,36.105882,1.075854,5.976129e+01,-0.445037,-3.155514e+01,-3.684859e+01,4.708375e+02,3.772961e+01,...,1.882848,-1.118887,1.882366,-1.428444,1.940382,-33.764796,-0.510349,-3.366452e+04,2.896950e+01,1.891526e+00
RNO,-2.907903e+04,-2.907903e+04,0.671875,1.678379,-4.450372e-01,5.642712,9.200746e+01,7.145640e+00,8.555970e+01,4.896480e+00,...,-0.358928,-0.040327,-0.357023,-0.058078,-0.315379,2.133467,-0.291350,9.704962e+04,1.533950e+00,-3.954431e+01
PRIZE,2.730598e+08,2.730598e+08,54.449817,117.094994,-3.155514e+01,92.007464,1.054831e+05,1.040132e+04,5.897986e+03,2.410376e+02,...,-25.520676,-2.361771,-14.264709,-3.418918,-14.293933,353.085643,-21.003653,1.252174e+08,1.258889e+03,-1.059020e+03
PRWIN,2.683720e+07,2.683720e+07,-29.147796,7.127249,-3.684859e+01,7.145640,1.040132e+04,5.277086e+03,5.568756e+02,2.425665e+01,...,-1.765951,4.080512,-1.362089,4.118176,-1.164854,60.558020,-1.542830,1.346438e+07,-2.956104e+01,-1.091304e+02
DIST,-2.622214e+07,-2.622214e+07,213.318270,25.958732,4.708375e+02,85.559700,5.897986e+03,5.568756e+02,1.410923e+05,9.980702e+03,...,167.586430,0.174743,166.418852,0.144474,157.649605,462.870854,-79.446937,6.694089e+06,-2.994034e+02,-9.664642e+03
TIME,-2.573137e+06,-2.573137e+06,16.773558,0.698133,3.772961e+01,4.896480,2.410376e+02,2.425665e+01,9.980702e+03,7.236903e+02,...,13.710191,0.037202,13.594796,0.049181,12.866588,27.271557,-5.501452,2.860914e+05,-2.683631e+01,-6.520247e+02
SDIST,3.452360e+07,3.452360e+07,-30.446859,-20.231703,-1.433140e+02,-4.942243,1.872767e+03,1.692820e+02,-1.028627e+04,-7.877498e+02,...,-21.921059,0.244992,-23.603233,0.388180,-24.760742,258.004556,69.601862,1.855004e+06,1.107130e+03,-2.391624e+02
STIME,1.769551e+06,1.769551e+06,-1.641074,-1.103691,-7.707877e+00,-0.196306,7.335987e+01,6.711034e+00,-4.653280e+02,-3.568213e+01,...,-1.050460,0.013404,-1.134497,0.021492,-1.197229,14.286001,3.936017,6.987142e+04,6.504467e+01,-2.572140e+01
WGT,-2.642496e+05,-2.642496e+05,0.269907,-0.244346,1.027259e+00,-0.387815,-3.266358e+01,-1.123455e+00,1.523066e+02,1.280349e+01,...,1.851995,0.059297,1.873329,0.076026,1.844120,1.441400,-0.089486,-3.203454e+04,-7.166804e+00,6.626069e+00
ALL,-1.199521e+04,-1.199521e+04,-0.061247,0.038917,-2.655899e-02,-0.042547,1.098930e+01,1.514743e+00,1.262626e+01,8.353270e-01,...,0.069394,0.008235,0.065865,0.011081,0.073370,0.369250,-0.002803,1.206472e+04,-7.172766e-01,4.840267e+00
LIM,2.506926e+06,2.506926e+06,-0.818280,-2.401418,-1.181139e+01,21.114039,2.138357e+02,9.761712e+00,6.969137e+02,4.158725e+01,...,-3.219167,0.004366,-4.864642,0.012864,-6.375804,14.886254,0.463229,1.395274e+05,-3.514895e+00,-3.832311e+02
BP,6.174647e+04,6.174647e+04,1.918783,3.119838,1.089203e+00,0.840451,5.683558e+01,1.145487e+00,1.313502e+01,3.740513e-01,...,-0.102787,-0.087571,-0.056973,-0.133430,0.038035,-0.205611,-0.106581,5.797923e+04,7.466048e+00,-4.574005e+00
SD,-5.303109e+04,-5.303109e+04,3.037907,3.215898,2.303680e+00,0.929436,6.653817e+01,-1.811338e+00,2.337843e+01,1.199448e+00,...,-0.162478,-0.259431,-0.119364,-0.336236,-0.000498,-1.215923,-0.093992,6.936236e+04,1.401773e+01,1.539238e+01
TW,-7.878387e+03,-7.878387e+03,0.373018,0.009738,1.145137e+00,0.128070,4.247093e+01,3.307989e+00,4.247115e+02,2.954054e+01,...,0.431255,-0.010579,0.444604,-0.012608,0.418443,1.842001,-0.198677,5.015661e+04,8.118665e-01,-2.272492e+01
EI,-4.522633e+05,-4.522633e+05,1.951075,1.994910,2.032461e+00,0.837210,2.513407e+01,-1.129979e+00,3.547218e+02,2.397895e+01,...,0.465304,-0.170123,0.516780,-0.219799,0.600384,1.292214,-0.021442,2.934875e+04,1.154565e+01,-1.963274e+01
FO,6.874336e+04,6.874336e+04,4.154637,3.204340,4.617581e+00,0.945279,6.688644e+01,-5.702689e+00,8.453687e+00,-7.723476e-03,...,-0.212849,-0.364651,-0.170945,-0.475789,-0.048717,-2.678929,-0.118092,6.913387e+04,1.752651e+01,1.497949e+01
F1,-2.357510e+04,-2.357510e+04,-0.511071,-0.065170,-6.903961e-01,-0.019817,-1.163141e+00,3.351676e+00,5.541606e-02,1.674162e-02,...,-0.005783,0.080892,-0.004715,0.070586,-0.010282,0.582268,0.010211,-1.167475e+03,-9.477776e-01,5.698724e-01
WGT1,-1.476293e+05,-1.476293e+05,0.856769,-0.198581,1.882848e+00,-0.358928,-2.552068e+01,-1.765951e+00,1.675864e+02,1.371019e+01,...,5.166783,0.000482,1.863207,0.002551,1.817102,-0.466871,-0.091492,-2.455475e+04,-4.605882e-01,-3.696470e+00
F2,-5.063498e+04,-5.063498e+04,-0.920830,-0.130355,-1.118887e+00,-0.040327,-2.361771e+00,4.080512e+00,1.747428e-01,3.720195e-02,...,0.000482,0.163945,-0.011082,0.141221,-0.018904,0.958648,0.016166,-2.428232e+03,-1.728604e+00,6.016714e-01
WGT2,-1.674262e+05,-1.674262e+05,0.947433,-0.127738,1.882366e+00,-0.357023,-1.426471e+01,-1.362089e+00,1.664189e+02,1.359480e+01,...,1.863207,-0.011082,5.247980,-0.002395,1.878537,-0.395232,-0.083283,-1.310288e+04,3.176502e-02,-3.089805e+00
F3,-7.553166e+04,-7.553166e+04,-1.226868,-0.193540,-1.428444e+00,-0.058078,-3.418918e+00,4.118176e+00,1.444740e-01,4.918127e-02,...,0.002551,0.141221,-0.002395,0.214300,-0.019965,1.177599,0.023120,-3.507793e+03,-2.333518e+00,2.898523e-01
WGT3,-2.206599e+05,-2.206599e+05,1.044410,0.096442,1.940382e+00,-0.315379,-1.429393e+01,-1.164854e+00,1.576496e+02,1.286659e+01,...,1.817102,-0.018904,1.878537,-0.019965,6.234023,-0.451668,-0.009117,-1.291660e+04,3.061944e-01,-1.325977e+00
TRT,8.997713e+04,8.997713e+04,-21.392910,0.415682,-3.376480e+01,2.133467,3.530856e+02,6.055802e+01,4.628709e+02,2.727156e+01,...,-0.466871,0.958648,-0.395232,1.177599,-0.451668,43.910127,-0.140244,3.747996e+05,-1.355903e+01,-8.512805e+01
WRT,-1.419173e+05,-1.419173e+05,-0.286933,-0.187867,-5.103491e-01,-0.291350,-2.100365e+01,-1.542830e+00,-7.944694e+01,-5.501452e+00,...,-0.091492,0.016166,-0.083283,0.023120,-0.009117,-0.140244,16.585037,-2.172207e+04,-9.480996e-01,4.368313e+00
RACESTAKES,2.861884e+11,2.861884e+11,55500.647171,121437.504843,-3.366452e+04,97049.623430,1.252174e+08,1.346438e+07,6.694089e+06,2.860914e+05,...,-24554.746731,-2428.232354,-13102.880439,-3507.792830,-12916.603935,374799.630651,-21722.065666,1.604019e+11,1.307464e+06,-1.169770e+06
SP_ODDS,8.393346e+06,8.393346e+06,25.011588,8.557552,2.896950e+01,1.533950,1.258889e+03,-2.956104e+01,-2.994034e+02,-2.683631e+01,...,-0.460588,-1.728604,0.031765,-2.333518,0.306194,-13.559030,-0.948100,1.307464e+06,5.071489e+02,1.575405e+01
DaysOLD,-4.323268e+07,-4.323268e+07,-3.391304,-11.766540,1.891526e+00,-39.544306,-1.059020e+03,-1.091304e+02,-9.664642e+03,-6.520247e+02,...,-3.696470,0.601671,-3.089805,0.289852,-1.325977,-85.128048,4.368313,-1.169770e+06,1.575405e+01,5.443708e+04

In [418]:
# Removing repeated and irrelevant columns

In [419]:
past_perf_new=past_perf.drop(['HORSE','STR','M','PRIZE','DATE','PRWIN','EVENT','CLASS','AGE','SD','BP','DIST','F1','OTHER1','WGT1',
'F2','OTHER2','WGT2','F3','OTHER3','WGT3','FNAME','FDATE','RACESTAKES','SP_ODDS','DaysOLD'],axis=1)

In [420]:
past_perf_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195493 entries, 0 to 195492
Data columns (total 27 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   X.1      195493 non-null  int64
 1   X        195493 non-null  int64
 2   FIN      195493 non-null  int64
 3   MARG     195493 non-null  float64
 4   TRACK    195493 non-null  object
 5   RNO      195493 non-null  int64
 6   REST     21660 non-null   object
 7   G        195493 non-null  object
 8   TIME     195493 non-null  float64
 9   SDIST    195493 non-null  int64
 10  STIME    195493 non-null  float64
 11  OP       137922 non-null  object
 12  MP       30682 non-null   object
 13  SP       195493 non-null  object
 14  WGT      195493 non-null  float64
 15  ALL      195493 non-null  float64
 16  LIM      195493 non-null  float64
 17  JOCKEY   195493 non-null  object
 18  TW       195493 non-null  int64
 19  EI       195493 non-null  int64
 20  FO       195493 non-null  int64
 21  TRT      195493 non-null  float64
 22  WRT      194289 non-null  float64
 23  HORSEID  195493 non-null  object
 24  CODE     195493 non-null  object
 25  RACEID   195493 non-null  object
 26  MTYPE    195493 non-null  object
dtypes: float64(8), int64(8), object(11)
memory usage: 40.3+ MB

In [421]:
past_perf_new=past_perf_new.drop(['MARG','TRACK','SDIST','STIME','OP','MP','SP','X.1','X' ],axis=1)

In [422]:
# New shape of the dataset after removing columns

In [423]:
past_perf_new.shape

(195493, 18)

In [424]:
past_perf_new=past_perf_new.drop(['LIM','CODE'],axis=1)

In [425]:
past_perf_new=past_perf_new.drop(['REST','MTYPE'],axis=1)

In [426]:
past_perf_new

,FIN,RNO,G,TIME,WGT,ALL,JOCKEY,TW,EI,FO,TRT,WRT,HORSEID,RACEID
0,12,5,S,80.54,54.5,0.0,R Bensley,0,2,4,41.4,0.0,2013-07-15Zartiki5,2013-07-15MOY5
1,5,7,G,70.21,54.0,0.0,R Bensley,0,0,8,53.7,0.0,2013-06-28Zartiki7,2013-06-28ACT7
2,5,7,G,61.65,55.0,0.0,R Bensley,0,0,6,46.4,0.0,2013-06-07Zartiki7,2013-06-07ACT7
3,7,7,D,84.62,55.5,0.0,C Spry,0,2,2,47.1,0.0,2013-01-25Zartiki7,2013-01-25CAB7
4,2,5,G,85.57,55.5,0.0,C Spry,0,5,6,49.7,0.0,2013-01-13Zartiki5,2013-01-13COW5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195488,5,8,G,70.09,56.5,0.0,A Coome,0,3,3,53.4,0.0,2013-01-31Craiglea Gee Tee8,2013-01-31MAC8
195489,2,5,4,97.73,54.0,0.0,Ms F Ives,0,2,2,52.0,0.0,2013-03-04Major Handell5,2013-03-04ESP5
195490,8,3,D,59.48,54.0,0.0,B Murphy,0,3,5,35.5,0.0,2013-09-21Love Potion3,2013-09-21WAG3
195491,9,4,G,87.11,56.5,0.0,Ms N Lye,0,9,9,46.1,0.0,2013-02-12Carefree4,2013-02-12QEN4
195492,8,5,G,97.90,54.0,0.0,A Bloomfield,0,6,5,47.2,0.0,2013-05-02Bayonet Charge5,2013-05-02WAG5

# Deleting the repeated columns that are also present in other files

In [427]:
past_perf_new=past_perf_new.drop(['RACEID','JOCKEY','ALL','WGT'],axis=1)

# Horse Data

In [428]:
horse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205661 entries, 0 to 205660
Data columns (total 100 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   205661 non-null  int64
 1   X.1          205661 non-null  int64
 2   X            205661 non-null  int64
 3   RNO          205661 non-null  int64
 4   TNO          205661 non-null  int64
 5   E            6393 non-null    object
 6   FORM         194019 non-null  object
 7   HORSE        205661 non-null  object
 8   CTY          45451 non-null   object
 9   BP           205661 non-null  int64
 10  JOCKEY       205605 non-null  object
 11  ALL          205661 non-null  float64
 12  WGT          205661 non-null  float64
 13  STAKES       205661 non-null  int64
 14  AGE          205661 non-null  int64
 15  COL          205661 non-null  object
 16  SEX          205661 non-null  object
 17  TRAINER      205661 non-null  object
 18  STABLES      205661 non-null  object
 19  STARTS       205661 non-null  int64
 20  WINS         205661 non-null  int64
 21  PL2          205661 non-null  int64
 22  PL3          205661 non-null  int64
 23  TDS          205661 non-null  int64
 24  TDW          205661 non-null  int64
 25  TD2          205661 non-null  int64
 26  TD3          205661 non-null  int64
 27  TCS          205661 non-null  int64
 28  TCW          205661 non-null  int64
 29  TC2          205661 non-null  int64
 30  TC3          205661 non-null  int64
 31  FS           205661 non-null  int64
 32  FW           205661 non-null  int64
 33  F2           205661 non-null  int64
 34  F3           205661 non-null  int64
 35  GS           205661 non-null  int64
 36  GW           205661 non-null  int64
 37  G2           205661 non-null  int64
 38  G3           205661 non-null  int64
 39  DS           205661 non-null  int64
 40  DW           205661 non-null  int64
 41  D2           205661 non-null  int64
 42  D3           205661 non-null  int64
 43  SS           205661 non-null  int64
 44  SW           205661 non-null  int64
 45  S2           205661 non-null  int64
 46  S3           205661 non-null  int64
 47  HS           205661 non-null  int64
 48  HW           205661 non-null  int64
 49  H2           205661 non-null  int64
 50  H3           205661 non-null  int64
 51  FUS          205661 non-null  int64
 52  FUW          205661 non-null  int64
 53  FU2          205661 non-null  int64
 54  FU3          205661 non-null  int64
 55  DAYS         205661 non-null  int64
 56  RUNS         205661 non-null  int64
 57  DDIST        205661 non-null  int64
 58  DWGT         205661 non-null  float64
 59  BREEDING     205661 non-null  object
 60  OWNER        196511 non-null  object
 61  SILKS        195898 non-null  object
 62  DISTWINS     135614 non-null  object
 63  TBASE        205661 non-null  float64
 64  XPEAK        205661 non-null  float64
 65  PRICE        205661 non-null  float64
 66  LBD          205661 non-null  int64
 67  SCR          205661 non-null  object
 68  DOK          197963 non-null  object
 69  FOK          120863 non-null  object
 70  IMP          56050 non-null   object
 71  LEN          205661 non-null  float64
 72  FNO          205661 non-null  int64
 73  FRT          205661 non-null  int64
 74  WNF          182272 non-null  object
 75  POS          205661 non-null  int64
 76  WET          140719 non-null  object
 77  JRT          205661 non-null  int64
 78  DS1          194019 non-null  object
 79  DS2          183008 non-null  object
 80  DS3          172688 non-null  object
 81  RS1          205661 non-null  float64
 82  RS2          205661 non-null  float64
 83  RS3          205661 non-null  float64
 84  BPRICE       205661 non-null  int64
 85  CPRICE       205661 non-null  float64
 86  TS1          205661 non-null  object
 87  TS2          205661 non-null  object
 88  TS3          205661 non-null  object
 89  COMMENT      51057 non-null   object
 90  FNAME        205661 non-null  object
 91  FDATE        205661 non-null  object
 92  VCODE        205661 non-null  object
 93  RACEID       205661 non-null  object
 94  HORSEID      205661 non-null  object
 95  MTYPE        205661 non-null  object
 96  JockeyWinP   205661 non-null  float64
 97  JockeyRATE   205661 non-null  float64
 98  TrainerWinP  205661 non-null  float64
 99  TrainerRATE  205661 non-null  float64
dtypes: float64(15), int64(53), object(32)
memory usage: 156.9+ MB

In [429]:
horse_data.isnull().sum()

Unnamed: 0     0
X.1            0
X              0
RNO            0
TNO            0
              ..
MTYPE          0
JockeyWinP     0
JockeyRATE     0
TrainerWinP    0
TrainerRATE    0
Length: 100, dtype: int64

In [430]:
horse_data.cov()

,Unnamed: 0,X.1,X,RNO,TNO,BP,ALL,WGT,STAKES,AGE,...,JRT,RS1,RS2,RS3,BPRICE,CPRICE,JockeyWinP,JockeyRATE,TrainerWinP,TrainerRATE
Unnamed: 0,2.283412e+11,3.138648e+11,3.138648e+11,817.561637,-2897.824188,2052.996136,-9611.816949,7140.663274,1.898318e+10,1034.797777,...,0.0,-131627.424256,-148685.721531,-156044.805391,0.0,5692.531845,-70470.936634,19864.516151,-85783.468261,19289.210014
X.1,3.138648e+11,4.316563e+11,4.316563e+11,818.894477,-4883.034208,2520.671109,-13242.193297,9458.852107,2.597628e+10,1645.014538,...,0.0,-179077.768811,-202401.833875,-212390.607371,0.0,9059.631375,-95762.794601,27393.153899,-116496.008454,26399.151135
X,3.138648e+11,4.316563e+11,4.316563e+11,818.894477,-4883.034208,2520.671109,-13242.193297,9458.852107,2.597628e+10,1645.014538,...,0.0,-179077.768811,-202401.833875,-212390.607371,0.0,9059.631375,-95762.794601,27393.153899,-116496.008454,26399.151135
RNO,8.175616e+02,8.188945e+02,8.188945e+02,5.634277,1.101541,1.111952,0.039883,-0.416158,2.037970e+05,0.975747,...,0.0,8.652810,12.851674,15.927332,0.0,0.668364,0.122228,-0.164005,0.538709,-0.355732
TNO,-2.897824e+03,-4.883034e+03,-4.883034e+03,1.101541,15.610173,2.070127,-0.298244,-4.857797,-1.277052e+05,-0.399477,...,0.0,-3.168012,-3.748377,-4.269560,0.0,28.226607,-1.959058,0.272026,-2.449862,0.629713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CPRICE,5.692532e+03,9.059631e+03,9.059631e+03,0.668364,28.226607,12.967349,1.365090,-7.702546,1.925647e+05,2.831088,...,0.0,-47.917778,-53.321289,-54.138342,0.0,608.238191,-26.649937,6.586607,-37.507194,11.799083
JockeyWinP,-7.047094e+04,-9.576279e+04,-9.576279e+04,0.122228,-1.959058,-0.236384,-0.966643,0.748817,-4.704842e+04,-0.802552,...,0.0,3.730219,2.597892,1.385686,0.0,-26.649937,25.296549,-3.492908,6.467713,-2.210796
JockeyRATE,1.986452e+04,2.739315e+04,2.739315e+04,-0.164005,0.272026,-0.056321,0.208242,-0.115438,-1.329171e+05,0.225321,...,0.0,-2.054270,-1.624156,-1.224737,0.0,6.586607,-3.492908,2.274394,-1.780462,1.097306
TrainerWinP,-8.578347e+04,-1.164960e+05,-1.164960e+05,0.538709,-2.449862,-0.449641,-0.250507,0.672396,-2.249008e+04,-1.296603,...,0.0,4.902190,3.217505,1.514970,0.0,-37.507194,6.467713,-1.780462,29.934982,-7.027683
TrainerRATE,1.928921e+04,2.639915e+04,2.639915e+04,-0.355732,0.629713,0.074696,0.155617,-0.192694,-2.172081e+05,0.410612,...,0.0,-3.326836,-2.856325,-2.372181,0.0,11.799083,-2.210796,1.097306,-7.027683,3.308556

In [431]:
horse_data['DOK'].unique()

array(['N', '+', 'y', 'Y', nan], dtype=object)

In [432]:
horse_data['FOK'].unique()

array([nan, 'N', 'Y'], dtype=object)

In [433]:
horse_data['FNO'].unique()

array([999,  16,  14,   7,   6,  12,   0,  -4,   9,  21,  20, -19,  10,
        17,  13,  19, -17, -14, -15,  18,  15,  34, -23,  24, -26, -10,
        33, -40,  11,  23, -12,   8, -18, -11,  -6,  -5, -32, -67,  -8,
       -22, -34, -39,  27,  28, -16, -13, -21, -60, -20,  22,  29, -24,
       -41, -35,  -7,  38, -46,  46, -28,  31, -25, -29,  -2, -30,  30,
       -57, -56, -99, -38, -65,  25, -33, -45, -70, -36, -31,  -9, -42,
       -27,  -3, -49, -52,  36, -58, -59,  26, -53, -68,  44, -77, -74,
        35,  37, -44,  41,   3, -47, -54, -48,  42, -55,  47,  40, -37,
        32,  45, -75, -85, -64, -63, -62, -43, -76, -51, -71, -98,  39,
        43, -69,  -1, -73, -80, -50, -72, -83, -61, -78, -91, -66,   5,
       -89, -90,   4, -79, -86], dtype=int64)

In [434]:
horse_data['FRT'].unique()

array([999,  37,  21,  35,  28,  27,  39,  33,  54,  11,  36,  30,  32,
        25,  42,  41,  26,  31,  38,  34,  23,  40,  24,  44,  50,  55,
        45,  47,  57,  43,  22,  48,  56,  19,  29,  15,  60,  18,  17,
        65,  84,  46,  51,  49,  77,  63,  72,  80,  20,  66,  53,  67,
        61,  14,  92,  59,  58,  76,  70,  62,  64,  69,  52,   9,  89,
        82,  74,  12,  68,  16,  94,  10,  13,  71,  75,  86,  97,  79,
       119,  78,  93,  90,  88, 100, 107,  87,  98,  73,  85,  81,  83,
        99,   8, 101,  91,  96, 105, 103, 124, 123,  95, 106, 109, 112,
       104, 102, 110, 127, 120, 122, 117, 129, 115, 108, 130, 168, 140],
      dtype=int64)

In [435]:
horse_data['WNF'].unique()

array(['?', nan, 'Y', '!', '-', '+'], dtype=object)

In [436]:
horse_data['WNF'].value_counts()

Y    82773
?    81080
!    12950
+     4673
-      796
Name: WNF, dtype: int64

In [437]:
past_perf['TW'].value_counts()

0     172727
3       2404
2       2388
1       2387
4       2379
5       2375
6       2287
7       2103
8       1830
9       1486
10      1130
11       848
12       567
13       276
14       180
15        62
16        39
17        11
18         7
19         2
20         2
22         1
21         1
23         1
Name: TW, dtype: int64

In [438]:
horse_data['WET'].value_counts()

Y       127360
Y  n      3846
Y nn      3020
Y  y      1652
Ynnn      1185
Y y        972
YNNN       953
y          719
Y  N       472
Y NN       240
Y yy       134
Y  Y        77
Y Y         38
yy          16
Y Yy        14
n           10
Y yn         8
N            1
nn           1
nnn          1
Name: WET, dtype: int64

In [439]:
horse_data_new=horse_data.drop(['Unnamed: 0','X.1','X','RNO','TNO','E','FORM','HORSE','BP','STAKES','COL','TRAINER','STABLES',
'STARTS','RUNS','DDIST','DWGT','OWNER','SILKS','DISTWINS','PRICE','LBD','SCR','DOK','FOK','IMP','LEN','FNO','FRT','WNF','WET','DS1','DS2','DS3','RS1','RS2','RS3','BPRICE','CPRICE',
'TS1','TS2','TS3','COMMENT','FNAME','FDATE','VCODE','MTYPE'],axis=1)

In [440]:
horse_data_new.shape

(205661, 53)

# Applying PCA to few of the columns of horse data

In [441]:
pca_data=horse_data_new[['TDS','TDW','TD2','TD3','TCS','TCW','TC2','TC3','FS','FW','F2','F3','GS','GW','G2','G3','DS','DW','D2','D3','SS','SW','S2','S3','HS','HW','H2','H3','FUS','FUW','FU2','FU3']]

In [442]:
pca_data.shape

(205661, 32)

In [443]:
pca_data.isnull().sum()

TDS    0
TDW    0
TD2    0
TD3    0
TCS    0
TCW    0
TC2    0
TC3    0
FS     0
FW     0
F2     0
F3     0
GS     0
GW     0
G2     0
G3     0
DS     0
DW     0
D2     0
D3     0
SS     0
SW     0
S2     0
S3     0
HS     0
HW     0
H2     0
H3     0
FUS    0
FUW    0
FU2    0
FU3    0
dtype: int64

In [444]:
from sklearn.decomposition import PCA

In [445]:
from sklearn.preprocessing import StandardScaler

In [446]:
ss=StandardScaler()

In [447]:
ss.fit_transform(pca_data)

array([[-0.6715158 , -0.49803364, -0.48632783, ..., -0.54786782,
        -0.55175195, -0.54645514],
       [-0.27068278, -0.49803364, -0.48632783, ..., -0.54786782,
        -0.55175195, -0.54645514],
       [-0.27068278, -0.49803364, -0.48632783, ..., -0.54786782,
         1.13056347, -0.54645514],
       ...,
       [ 0.13015023, -0.49803364, -0.48632783, ..., -0.54786782,
         1.13056347,  1.18632278],
       [ 0.73139975,  0.47697014,  0.58696052, ...,  1.05192551,
        -0.55175195,  1.18632278],
       [ 0.53098325, -0.49803364, -0.48632783, ..., -0.54786782,
        -0.55175195,  1.18632278]])

In [448]:
pca=PCA(n_components=4,random_state=0)

In [449]:
pcadata=pca.fit_transform(pca_data)

In [450]:
pca.explained_variance_ratio_

array([0.65646084, 0.11535896, 0.07970815, 0.05741402])

In [451]:
pca.explained_variance_ratio_[0]

0.6564608391722861

In [452]:
pca.components_

array([[ 2.94830394e-01,  4.26594377e-02,  3.87642547e-02,
         3.51685375e-02,  3.15187791e-01,  4.04069372e-02,
         3.97560777e-02,  3.70716471e-02,  4.32259374e-03,
         7.90620077e-04,  8.87293601e-04,  5.40801021e-04,
         8.34396454e-01,  1.04451678e-01,  1.03574733e-01,
         9.79452918e-02,  2.19192441e-01,  2.58254780e-02,
         2.68177872e-02,  2.51961743e-02,  8.85585830e-02,
         1.11981779e-02,  1.19776460e-02,  1.00935611e-02,
         6.15366365e-02,  8.48422037e-03,  8.01876361e-03,
         7.63764468e-03,  1.19773380e-01,  1.31861915e-02,
         1.28786462e-02,  1.30134273e-02],
       [ 2.57153161e-01,  3.93134247e-02,  3.67449214e-02,
         3.40407397e-02, -2.70997253e-01, -3.18591471e-02,
        -3.15566127e-02, -2.86877118e-02,  1.90714960e-03,
        -5.06702717e-05,  1.25182308e-04,  3.83070932e-04,
        -2.54552334e-01, -4.13649938e-02, -3.35699235e-02,
        -2.84847868e-02,  7.26995424e-01,  8.88693431e-02,
         8.75114531e-02,  8.57418024e-02,  3.05978193e-01,
         3.93773184e-02,  4.06463672e-02,  3.64678852e-02,
         3.35873111e-01,  5.02911939e-02,  4.63786503e-02,
         4.16582108e-02,  1.25668413e-01,  1.17643285e-02,
         1.22720413e-02,  1.41837022e-02],
       [ 5.04704611e-01,  7.98334719e-02,  6.80240967e-02,
         6.03072205e-02,  7.07619212e-01,  9.65498568e-02,
         9.35662888e-02,  8.33218828e-02, -3.21594350e-03,
        -6.91952034e-04, -9.78952929e-04, -5.12717656e-04,
        -4.18793065e-01, -5.53223759e-02, -6.10344235e-02,
        -5.87135825e-02, -9.59295984e-02, -8.15707935e-03,
        -7.57113180e-03, -8.16778307e-03,  1.12486838e-02,
         5.48324998e-03,  4.73297575e-03,  1.16744288e-03,
         7.21421111e-02,  1.61169902e-02,  1.16449769e-02,
         1.10117657e-02, -6.23900310e-02, -1.15560959e-03,
        -4.06291782e-03, -7.34916887e-03],
       [-7.22058388e-01, -1.20857471e-01, -9.81914610e-02,
        -8.54065769e-02,  5.27736169e-01,  6.88501442e-02,
         7.14812919e-02,  6.82263463e-02, -3.25852086e-03,
        -8.54793370e-04, -7.03708952e-04, -7.30443863e-04,
        -5.39306051e-02, -2.56594689e-02, -1.13469689e-02,
        -5.56723018e-03,  3.61826865e-01,  3.70823002e-02,
         4.19253634e-02,  4.21004221e-02,  7.94716791e-02,
         8.07253672e-03,  9.53856677e-03,  9.40130593e-03,
         7.56131897e-02,  7.86974994e-03,  1.16543160e-02,
         8.22091090e-03,  4.34277997e-02, -8.62471226e-03,
        -1.45952173e-03,  3.25971140e-03]])

In [453]:
principal_Df = pd.DataFrame(data = pcadata
             , columns = ['PC1', 'PC2','PC3', 'PC4'])

In [454]:
principal_Df

              PC1       PC2       PC3       PC4
0      -11.218410 -2.333579  0.258264 -0.559495
1       -8.620991 -1.475714  0.271767 -1.706218
2       -6.088342  4.813503  0.080796  1.955601
3      -11.037100 -1.872038  0.268016 -0.440454
4        4.046678 -2.314556 -0.245887  0.064311
...           ...       ...       ...       ...
205656   7.587444 -4.892374 -7.796779 -2.269832
205657   9.813626  3.510251 -7.897266  0.576532
205658  12.348955 -3.580273 -8.787160 -3.142133
205659  17.322362 -5.849772 -9.223790 -6.647438
205660  13.135783 -5.915251 -6.122994 -4.558513

[205661 rows x 4 columns]

In [455]:
horse_data_new.drop(['TDS','TDW','TD2','TD3','TCS',
                      'TCW','TC2','TC3','FS','FW','F2','F3','GS','GW','G2','G3','DS','DW','D2','D3','SS','SW','S2','S3'
                      ,'HS','HW','H2','H3','FUS','FUW','FU2','FU3',],axis=1,inplace=True)

In [456]:
horse_data_new.shape

(205661, 21)

In [457]:
horse_data_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205661 entries, 0 to 205660
Data columns (total 21 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CTY          45451 non-null   object
 1   JOCKEY       205605 non-null  object
 2   ALL          205661 non-null  float64
 3   WGT          205661 non-null  float64
 4   AGE          205661 non-null  int64
 5   SEX          205661 non-null  object
 6   WINS         205661 non-null  int64
 7   PL2          205661 non-null  int64
 8   PL3          205661 non-null  int64
 9   DAYS         205661 non-null  int64
 10  BREEDING     205661 non-null  object
 11  TBASE        205661 non-null  float64
 12  XPEAK        205661 non-null  float64
 13  POS          205661 non-null  int64
 14  JRT          205661 non-null  int64
 15  RACEID       205661 non-null  object
 16  HORSEID      205661 non-null  object
 17  JockeyWinP   205661 non-null  float64
 18  JockeyRATE   205661 non-null  float64
 19  TrainerWinP  205661 non-null  float64
 20  TrainerRATE  205661 non-null  float64
dtypes: float64(8), int64(7), object(6)
memory usage: 33.0+ MB

In [458]:
horse_data_new

,CTY,JOCKEY,ALL,WGT,AGE,SEX,WINS,PL2,PL3,DAYS,...,TBASE,XPEAK,POS,JRT,RACEID,HORSEID,JockeyWinP,JockeyRATE,TrainerWinP,TrainerRATE
0,NaN,K JENNINGS,2.0,57.0,4,m,0,0,0,999,...,0.0,0.0,9,5,2013-08-02ACT1,2013-08-02Argentine Queen1,12.3,3.7,3.8,7.5
1,NaN,W COSTIN,2.0,57.0,4,m,0,0,0,124,...,51.2,51.4,4,5,2013-08-02ACT1,2013-08-02Capable Gal1,6.2,4.6,11.6,4.1
2,NaN,B CLARK,0.0,57.0,4,m,0,1,2,14,...,45.6,51.8,2,5,2013-08-02ACT1,2013-08-02Diamond Player1,6.3,5.4,10.8,4.2
3,NaN,S GUYMER,0.0,57.0,5,m,0,0,0,17,...,33.5,33.6,8,5,2013-08-02ACT1,2013-08-02Me Oh My1,7.0,3.9,9.7,4.9
4,NaN,S POLLARD,0.0,57.0,5,m,0,2,2,134,...,54.3,54.5,5,5,2013-08-02ACT1,2013-08-02Milly De Vain1,5.6,4.7,5.7,6.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205656,NaN,C MCIVER,0.0,57.5,4,g,3,2,2,26,...,54.0,58.2,1,5,2013-02-14YEP8,2013-02-14Vancouver Gold8,2.1,7.5,0.0,9.8
205657,NaN,T O'HARA,0.0,57.0,7,g,4,2,3,14,...,56.2,58.3,2,5,2013-02-14YEP8,2013-02-14Streetfire8,13.6,4.4,0.0,9.2
205658,NaN,T BANNON,0.0,55.0,6,g,3,2,5,14,...,55.2,58.3,5,5,2013-02-14YEP8,2013-02-14Harvzee8,9.6,4.8,13.6,5.0
205659,NaN,C PYE,0.0,54.0,5,m,4,4,4,42,...,57.0,57.7,3,5,2013-02-14YEP8,2013-02-14Queen Of Happiness8,9.8,5.1,4.0,7.1
205660,NaN,L DILLON,0.0,54.0,7,g,3,2,3,33,...,51.2,54.7,12,5,2013-02-14YEP8,2013-02-14Bose8,15.8,3.5,14.3,4.0

In [459]:
horse_data_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205661 entries, 0 to 205660
Data columns (total 21 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CTY          45451 non-null   object
 1   JOCKEY       205605 non-null  object
 2   ALL          205661 non-null  float64
 3   WGT          205661 non-null  float64
 4   AGE          205661 non-null  int64
 5   SEX          205661 non-null  object
 6   WINS         205661 non-null  int64
 7   PL2          205661 non-null  int64
 8   PL3          205661 non-null  int64
 9   DAYS         205661 non-null  int64
 10  BREEDING     205661 non-null  object
 11  TBASE        205661 non-null  float64
 12  XPEAK        205661 non-null  float64
 13  POS          205661 non-null  int64
 14  JRT          205661 non-null  int64
 15  RACEID       205661 non-null  object
 16  HORSEID      205661 non-null  object
 17  JockeyWinP   205661 non-null  float64
 18  JockeyRATE   205661 non-null  float64
 19  TrainerWinP  205661 non-null  float64
 20  TrainerRATE  205661 non-null  float64
dtypes: float64(8), int64(7), object(6)
memory usage: 33.0+ MB

In [460]:
past_perf_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195493 entries, 0 to 195492
Data columns (total 10 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   FIN      195493 non-null  int64
 1   RNO      195493 non-null  int64
 2   G        195493 non-null  object
 3   TIME     195493 non-null  float64
 4   TW       195493 non-null  int64
 5   EI       195493 non-null  int64
 6   FO       195493 non-null  int64
 7   TRT      195493 non-null  float64
 8   WRT      194289 non-null  float64
 9   HORSEID  195493 non-null  object
dtypes: float64(3), int64(5), object(2)
memory usage: 14.9+ MB

In [461]:
past_perf_new

        FIN  RNO  G   TIME  TW  EI  FO   TRT  WRT                      HORSEID
0        12    5  S  80.54   0   2   4  41.4  0.0           2013-07-15Zartiki5
1         5    7  G  70.21   0   0   8  53.7  0.0           2013-06-28Zartiki7
2         5    7  G  61.65   0   0   6  46.4  0.0           2013-06-07Zartiki7
3         7    7  D  84.62   0   2   2  47.1  0.0           2013-01-25Zartiki7
4         2    5  G  85.57   0   5   6  49.7  0.0           2013-01-13Zartiki5
...     ...  ... ..    ...  ..  ..  ..   ...  ...                          ...
195488    5    8  G  70.09   0   3   3  53.4  0.0  2013-01-31Craiglea Gee Tee8
195489    2    5  4  97.73   0   2   2  52.0  0.0     2013-03-04Major Handell5
195490    8    3  D  59.48   0   3   5  35.5  0.0       2013-09-21Love Potion3
195491    9    4  G  87.11   0   9   9  46.1  0.0          2013-02-12Carefree4
195492    8    5  G  97.90   0   6   5  47.2  0.0    2013-05-02Bayonet Charge5

[195493 rows x 10 columns]

# Merging past perfomrance and horse data

In [462]:
horse_past_merge=pd.merge(horse_data_new,past_perf_new,on='HORSEID')

In [463]:
horse_past_merge.shape

(194605, 30)

In [464]:
horse_past_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 194605 entries, 0 to 194604
Data columns (total 30 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CTY          42939 non-null   object
 1   JOCKEY       194551 non-null  object
 2   ALL          194605 non-null  float64
 3   WGT          194605 non-null  float64
 4   AGE          194605 non-null  int64
 5   SEX          194605 non-null  object
 6   WINS         194605 non-null  int64
 7   PL2          194605 non-null  int64
 8   PL3          194605 non-null  int64
 9   DAYS         194605 non-null  int64
 10  BREEDING     194605 non-null  object
 11  TBASE        194605 non-null  float64
 12  XPEAK        194605 non-null  float64
 13  POS          194605 non-null  int64
 14  JRT          194605 non-null  int64
 15  RACEID       194605 non-null  object
 16  HORSEID      194605 non-null  object
 17  JockeyWinP   194605 non-null  float64
 18  JockeyRATE   194605 non-null  float64
 19  TrainerWinP  194605 non-null  float64
 20  TrainerRATE  194605 non-null  float64
 21  FIN          194605 non-null  int64
 22  RNO          194605 non-null  int64
 23  G            194605 non-null  object
 24  TIME         194605 non-null  float64
 25  TW           194605 non-null  int64
 26  EI           194605 non-null  int64
 27  FO           194605 non-null  int64
 28  TRT          194605 non-null  float64
 29  WRT          193405 non-null  float64
dtypes: float64(11), int64(12), object(7)
memory usage: 46.0+ MB

In [465]:
# Checking null values

In [466]:
horse_past_merge.isnull().sum()

CTY            151666
JOCKEY             54
ALL                 0
WGT                 0
AGE                 0
SEX                 0
WINS                0
PL2                 0
PL3                 0
DAYS                0
BREEDING            0
TBASE               0
XPEAK               0
POS                 0
JRT                 0
RACEID              0
HORSEID             0
JockeyWinP          0
JockeyRATE          0
TrainerWinP         0
TrainerRATE         0
FIN                 0
RNO                 0
G                   0
TIME                0
TW                  0
EI                  0
FO                  0
TRT                 0
WRT              1200
dtype: int64

In [467]:
# Concatinating PCS

In [468]:
horse_past_merge=pd.concat([horse_past_merge,principal_Df],axis=1)

In [469]:
horse_past_merge.drop('BREEDING',axis=1,inplace=True)

In [470]:
# PC1 and PC2 contains 77% of the information, so dropping rest of the PCS

In [471]:
horse_past_merge.drop(['PC3','PC4','RNO'],axis=1,inplace=True)

In [472]:
horse_past_merge.shape

(205661, 30)

# Race data

In [473]:
race_data.shape

(20149, 33)

In [474]:
race_data.head()

,Unnamed: 0,X,RNO,RACENAME,DIST,JUMP,CLASS,STAKES,AGE,REST,...,PD1,PD2,PD3,FF,SCRS,FDATE,VCODE,RACEID,MTYPE,ADJ_JUMP
0,9,9,1,HARMONIE GERMAN CLUB MDN PLT *44*,1080,12:23,Maiden,13000,NaN,NaN,...,1.3,2.1,3.2,0.0,1 11,2013-08-02,ACT,2013-08-02ACT1,N,12:23
1,10,10,2,CANBERRA DEAKIN F.C. HCP C1 *46*,1206,12:58,Class 1,13000,NaN,NaN,...,1.4,1.8,0.0,0.0,6,2013-08-02,ACT,2013-08-02ACT2,N,12:58
2,11,11,3,THE RUC CLUB HCP *53*,1080,13:33,Open,13000,NaN,NaN,...,3.0,2.3,0.0,0.0,2,2013-08-02,ACT,2013-08-02ACT3,N,13:33
3,12,12,4,THE GEORGE HARCOURT INN BM60 *50*,1750,14:08,Benchmark 60,13000,NaN,NaN,...,2.6,10.2,0.0,0.0,7,2013-08-02,ACT,2013-08-02ACT4,N,14:08
4,13,13,5,CANBERRA IRISH CLUB HCP C2 *48*,1080,14:43,Class 2,13000,NaN,NaN,...,2.1,7.4,2.8,3574.8,NaN,2013-08-02,ACT,2013-08-02ACT5,N,14:43

In [475]:
race_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20149 entries, 0 to 20148
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  20149 non-null  int64
 1   X           20149 non-null  int64
 2   RNO         20149 non-null  int64
 3   RACENAME    20149 non-null  object
 4   DIST        20149 non-null  int64
 5   JUMP        20149 non-null  object
 6   CLASS       20149 non-null  object
 7   STAKES      20149 non-null  int64
 8   AGE         7930 non-null   object
 9   REST        2275 non-null   object
 10  CLAIM       20149 non-null  object
 11  WEIGHTS     20149 non-null  object
 12  LIMIT       20149 non-null  float64
 13  NREC        20149 non-null  int64
 14  GOING       20149 non-null  object
 15  T1          20149 non-null  int64
 16  T2          20149 non-null  int64
 17  T3          20149 non-null  int64
 18  WN          20149 non-null  float64
 19  QN          20149 non-null  float64
 20  EX          20149 non-null  float64
 21  TT          20149 non-null  float64
 22  T4          20149 non-null  int64
 23  PD1         20149 non-null  float64
 24  PD2         20149 non-null  float64
 25  PD3         20149 non-null  float64
 26  FF          20149 non-null  float64
 27  SCRS        14809 non-null  object
 28  FDATE       20149 non-null  object
 29  VCODE       20149 non-null  object
 30  RACEID      20149 non-null  object
 31  MTYPE       20149 non-null  object
 32  ADJ_JUMP    20149 non-null  object
dtypes: float64(9), int64(10), object(14)
memory usage: 5.1+ MB

In [476]:
race_data['CLASS'].value_counts()

Maiden             5774
Open               1507
Class 1            1238
Benchmark 65        970
Class 2             796
                   ...
Benchmark 87          1
Rest 1 Win Stpl       1
Restricted 83         1
Restricted 85         1
Restricted 95         1
Name: CLASS, Length: 134, dtype: int64

In [477]:
race_data['CLASS'].nunique()

134

In [478]:
race_data['WEIGHTS'].value_counts()

Handicap          14237
Set Weight         4828
Set Weight Wit      607
Set Weight+Pen      300
Weight For Age      129
Special Weight       48
Name: WEIGHTS, dtype: int64

In [479]:
race_data['NREC'].value_counts()

12    2438
11    2172
10    2111
14    1944
13    1852
9     1773
8     1437
16    1379
15    1260
7      950
18     863
17     666
6      498
20     285
19     223
5      129
21      86
22      51
24      13
23       9
4        9
3        1
Name: NREC, dtype: int64

In [480]:
race_data['NREC'].unique()

array([12,  7,  8, 16, 10, 11,  9, 13, 14, 15, 18,  6, 19,  5, 17, 20, 22,
       21, 23, 24,  4,  3], dtype=int64)

In [481]:
race_data['GOING'].unique()

array(['GOOD', 'GOOD3', 'DEAD5', 'SLOW6', 'HVY8', 'DEAD4', 'SLOW7',
       'GOOD2', 'HVY9', 'SLOW', 'HEAVY', 'DEAD', 'HVY10', 'FAST1', 'FAST',
       'HVY3', 'GOOD4', 'SLOW8'], dtype=object)

In [482]:
race_data['T1'].value_counts()

1     2603
2     2242
3     2072
4     2046
5     1976
6     1819
7     1680
8     1376
9     1176
10     975
11     752
12     566
13     344
14     252
15     125
16      79
17      36
18      18
19       8
20       4
Name: T1, dtype: int64

In [483]:
race_data['PD1'].value_counts()

1.5     1234
1.7     1223
1.4     1171
1.6     1157
1.8     1112
        ...
19.2       1
14.1       1
22.9       1
14.6       1
15.7       1
Name: PD1, Length: 166, dtype: int64

In [484]:
race_data['SCRS'].isnull().sum()

5340

In [485]:
race_data['CLAIM'].value_counts()

Can       18549
Cannot     1600
Name: CLAIM, dtype: int64

In [486]:
race_data['VCODE'].nunique()

219

In [487]:
race_data['MTYPE'].unique()

array(['N'], dtype=object)

In [488]:
race_data['ADJ_JUMP']

0        12:23
1        12:58
2        13:33
3        14:08
4        14:43
         ...
20144    13:55
20145    14:30
20146    15:10
20147    15:50
20148    16:30
Name: ADJ_JUMP, Length: 20149, dtype: object

In [489]:
# Removing irrelevant and repeated columns

In [490]:
race_data_new=race_data.drop(['Unnamed: 0','X','RNO','RACENAME','CLASS','STAKES','AGE','REST','T1','T2','T3','FDATE',
'ADJ_JUMP','VCODE','MTYPE'],axis=1)

In [491]:
race_data_new.shape

(20149, 18)

In [492]:
race_data_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20149 entries, 0 to 20148
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DIST     20149 non-null  int64
 1   JUMP     20149 non-null  object
 2   CLAIM    20149 non-null  object
 3   WEIGHTS  20149 non-null  object
 4   LIMIT    20149 non-null  float64
 5   NREC     20149 non-null  int64
 6   GOING    20149 non-null  object
 7   WN       20149 non-null  float64
 8   QN       20149 non-null  float64
 9   EX       20149 non-null  float64
 10  TT       20149 non-null  float64
 11  T4       20149 non-null  int64
 12  PD1      20149 non-null  float64
 13  PD2      20149 non-null  float64
 14  PD3      20149 non-null  float64
 15  FF       20149 non-null  float64
 16  SCRS     14809 non-null  object
 17  RACEID   20149 non-null  object
dtypes: float64(9), int64(3), object(6)
memory usage: 2.8+ MB

In [493]:
race_data_new

,DIST,JUMP,CLAIM,WEIGHTS,LIMIT,NREC,GOING,WN,QN,EX,TT,T4,PD1,PD2,PD3,FF,SCRS,RACEID
0,1080,12:23,Can,Set Weight,0.0,12,GOOD,4.0,8.1,18.2,120.6,0,1.3,2.1,3.2,0.0,1 11,2013-08-02ACT1
1,1206,12:58,Can,Handicap,54.0,7,GOOD,3.0,4.3,12.2,24.0,0,1.4,1.8,0.0,0.0,6,2013-08-02ACT2
2,1080,13:33,Can,Handicap,54.0,7,GOOD,7.9,10.0,32.4,146.9,0,3.0,2.3,0.0,0.0,2,2013-08-02ACT3
3,1750,14:08,Can,Handicap,54.0,8,GOOD,5.2,57.7,47.8,388.5,0,2.6,10.2,0.0,0.0,7,2013-08-02ACT4
4,1080,14:43,Can,Handicap,54.0,8,GOOD,8.6,84.7,273.7,1443.3,5,2.1,7.4,2.8,3574.8,NaN,2013-08-02ACT5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20144,1200,13:55,Can,Handicap,54.0,7,GOOD3,4.6,5.2,19.2,38.4,2,1.5,1.6,0.0,79.0,1,2013-02-14YEP4
20145,1300,14:30,Can,Handicap,54.0,8,GOOD3,6.4,12.6,30.2,92.5,6,2.8,2.2,0.0,209.0,1 5,2013-02-14YEP5
20146,900,15:10,Can,Handicap,54.0,12,GOOD3,7.2,11.8,30.7,330.7,4,2.0,1.8,3.7,1584.2,5,2013-02-14YEP6
20147,1300,15:50,Can,Handicap,54.0,9,GOOD3,4.5,4.8,9.1,78.5,2,1.8,1.7,3.1,362.8,NaN,2013-02-14YEP7
20148,1100,16:30,Can,Handicap,54.0,14,GOOD3,14.7,58.1,149.7,856.4,2,4.0,3.3,1.6,6389.6,13 14,2013-02-14YEP8

In [494]:
race_data_new[race_data_new['RACEID']=='2013-02-14YEP7']

,DIST,JUMP,CLAIM,WEIGHTS,LIMIT,NREC,GOING,WN,QN,EX,TT,T4,PD1,PD2,PD3,FF,SCRS,RACEID
20147,1300,15:50,Can,Handicap,54.0,9,GOOD3,4.5,4.8,9.1,78.5,2,1.8,1.7,3.1,362.8,NaN,2013-02-14YEP7

In [495]:
race_data_new['RACEID'].nunique()

20149

In [496]:
horse_past_race=pd.merge(horse_past_merge,race_data_new,on='RACEID')

In [497]:
horse_past_race.shape

(194605, 47)

In [498]:
# Merged all the Dataframes

In [499]:
horse_past_race.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 194605 entries, 0 to 194604
Data columns (total 47 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CTY          42939 non-null   object
 1   JOCKEY       194551 non-null  object
 2   ALL          194605 non-null  float64
 3   WGT          194605 non-null  float64
 4   AGE          194605 non-null  float64
 5   SEX          194605 non-null  object
 6   WINS         194605 non-null  float64
 7   PL2          194605 non-null  float64
 8   PL3          194605 non-null  float64
 9   DAYS         194605 non-null  float64
 10  TBASE        194605 non-null  float64
 11  XPEAK        194605 non-null  float64
 12  POS          194605 non-null  float64
 13  JRT          194605 non-null  float64
 14  RACEID       194605 non-null  object
 15  HORSEID      194605 non-null  object
 16  JockeyWinP   194605 non-null  float64
 17  JockeyRATE   194605 non-null  float64
 18  TrainerWinP  194605 non-null  float64
 19  TrainerRATE  194605 non-null  float64
 20  FIN          194605 non-null  float64
 21  G            194605 non-null  object
 22  TIME         194605 non-null  float64
 23  TW           194605 non-null  float64
 24  EI           194605 non-null  float64
 25  FO           194605 non-null  float64
 26  TRT          194605 non-null  float64
 27  WRT          193405 non-null  float64
 28  PC1          194605 non-null  float64
 29  PC2          194605 non-null  float64
 30  DIST         194605 non-null  int64
 31  JUMP         194605 non-null  object
 32  CLAIM        194605 non-null  object
 33  WEIGHTS      194605 non-null  object
 34  LIMIT        194605 non-null  float64
 35  NREC         194605 non-null  int64
 36  GOING        194605 non-null  object
 37  WN           194605 non-null  float64
 38  QN           194605 non-null  float64
 39  EX           194605 non-null  float64
 40  TT           194605 non-null  float64
 41  T4           194605 non-null  int64
 42  PD1          194605 non-null  float64
 43  PD2          194605 non-null  float64
 44  PD3          194605 non-null  float64
 45  FF           194605 non-null  float64
 46  SCRS         144260 non-null  object
dtypes: float64(33), int64(3), object(11)
memory usage: 71.3+ MB

In [500]:
horse_past_race.isnull().sum()

CTY            151666
JOCKEY             54
ALL                 0
WGT                 0
AGE                 0
SEX                 0
WINS                0
PL2                 0
PL3                 0
DAYS                0
TBASE               0
XPEAK               0
POS                 0
JRT                 0
RACEID              0
HORSEID             0
JockeyWinP          0
JockeyRATE          0
TrainerWinP         0
TrainerRATE         0
FIN                 0
G                   0
TIME                0
TW                  0
EI                  0
FO                  0
TRT                 0
WRT              1200
PC1                 0
PC2                 0
DIST                0
JUMP                0
CLAIM               0
WEIGHTS             0
LIMIT               0
NREC                0
GOING               0
WN                  0
QN                  0
EX                  0
TT                  0
T4                  0
PD1                 0
PD2                 0
PD3                 0
FF                  0
SCRS            50345
dtype: int64

In [501]:
horse_past_race.head().T

,0,1,2,3,4
CTY,NaN,NaN,NaN,NaN,NaN
JOCKEY,K JENNINGS,W COSTIN,B CLARK,S POLLARD,J KISSICK
ALL,2,2,0,0,0
WGT,57,57,57,57,57
AGE,4,4,4,5,4
SEX,m,m,m,m,m
WINS,0,0,0,0,0
PL2,0,0,1,2,1
PL3,0,0,2,2,0
DAYS,999,124,14,134,160
TBASE,0,51.2,45.6,54.3,62.1
XPEAK,0,51.4,51.8,54.5,62.4
POS,9,4,2,5,1
JRT,5,5,5,5,5
RACEID,2013-08-02ACT1,2013-08-02ACT1,2013-08-02ACT1,2013-08-02ACT1,2013-08-02ACT1
HORSEID,2013-08-02Argentine Queen1,2013-08-02Capable Gal1,2013-08-02Diamond Player1,2013-08-02Milly De Vain1,2013-08-02Written Glory1
JockeyWinP,12.3,6.2,6.3,5.6,10.5
JockeyRATE,3.7,4.6,5.4,4.7,3.1
TrainerWinP,3.8,11.6,10.8,5.7,5.9
TrainerRATE,7.5,4.1,4.2,6.7,7.3
FIN,2,6,5,3,1
G,G,G,G,G,G
TIME,63.49,63.49,63.49,63.49,63.49
TW,0,0,0,0,0
EI,1,5,4,8,2
FO,1,4,3,6,2
TRT,45.9,42.1,43.5,45.9,52
WRT,1,0,0.2,1,2.2
PC1,-11.2184,-8.62099,-6.08834,-11.0371,4.04668
PC2,-2.33358,-1.47571,4.8135,-1.87204,-2.31456
DIST,1080,1080,1080,1080,1080
JUMP,12:23,12:23,12:23,12:23,12:23
CLAIM,Can,Can,Can,Can,Can
WEIGHTS,Set Weight,Set Weight,Set Weight,Set Weight,Set Weight
LIMIT,0,0,0,0,0
NREC,12,12,12,12,12
GOING,GOOD,GOOD,GOOD,GOOD,GOOD
WN,4,4,4,4,4
QN,8.1,8.1,8.1,8.1,8.1
EX,18.2,18.2,18.2,18.2,18.2
TT,120.6,120.6,120.6,120.6,120.6
T4,0,0,0,0,0
PD1,1.3,1.3,1.3,1.3,1.3
PD2,2.1,2.1,2.1,2.1,2.1
PD3,3.2,3.2,3.2,3.2,3.2
FF,0,0,0,0,0
SCRS,1 11,1 11,1 11,1 11,1 11

In [502]:
horse_past_race.head()

,CTY,JOCKEY,ALL,WGT,AGE,SEX,WINS,PL2,PL3,DAYS,...,WN,QN,EX,TT,T4,PD1,PD2,PD3,FF,SCRS
0,NaN,K JENNINGS,2.0,57.0,4.0,m,0.0,0.0,0.0,999.0,...,4.0,8.1,18.2,120.6,0,1.3,2.1,3.2,0.0,1 11
1,NaN,W COSTIN,2.0,57.0,4.0,m,0.0,0.0,0.0,124.0,...,4.0,8.1,18.2,120.6,0,1.3,2.1,3.2,0.0,1 11
2,NaN,B CLARK,0.0,57.0,4.0,m,0.0,1.0,2.0,14.0,...,4.0,8.1,18.2,120.6,0,1.3,2.1,3.2,0.0,1 11
3,NaN,S POLLARD,0.0,57.0,5.0,m,0.0,2.0,2.0,134.0,...,4.0,8.1,18.2,120.6,0,1.3,2.1,3.2,0.0,1 11
4,NaN,J KISSICK,0.0,57.0,4.0,m,0.0,1.0,0.0,160.0,...,4.0,8.1,18.2,120.6,0,1.3,2.1,3.2,0.0,1 11

In [503]:
horse_past_race.AGE.value_counts()

4.0     54255
3.0     45940
5.0     40525
6.0     24375
7.0     12579
2.0      8357
8.0      5502
9.0      2095
10.0      643
11.0      246
12.0       68
13.0       20
Name: AGE, dtype: int64

In [504]:
horse_past_race.PL2.value_counts()

0.0     69573
1.0     39227
2.0     26545
3.0     19039
4.0     13343
5.0      9031
6.0      6150
7.0      4131
8.0      2586
9.0      1719
10.0     1128
11.0      749
12.0      473
13.0      358
14.0      183
15.0      120
17.0       63
18.0       60
16.0       55
19.0       21
22.0       19
20.0       17
21.0       10
23.0        5
Name: PL2, dtype: int64

In [505]:
horse_past_race.WEIGHTS.value_counts()

Handicap          137608
Set Weight         46319
Set Weight Wit      5977
Set Weight+Pen      2952
Weight For Age      1269
Special Weight       480
Name: WEIGHTS, dtype: int64

In [506]:
horse_past_race.LIMIT.value_counts()

54.0    118066
0.0      56997
51.0      8771
55.0      5902
64.0      1341
54.5      1019
53.0       700
56.0       551
55.5       375
52.0       179
56.5       171
62.0       167
50.0       150
57.0        93
57.5        59
53.5        22
49.0        17
65.0        15
58.0        10
Name: LIMIT, dtype: int64

In [507]:
horse_past_race[horse_past_race['POS']==1].shape

(19529, 47)

In [508]:
horse_past_race.SEX.value_counts()
#Stallion - A male horse 4 years or older
#Mare - A female horse 4 years or older
#Colt - A male horse 1â€“3 years old
#Filly - A female horse 1 -3 years old
#Gelding - A casterated male horse
#Ridgeling - A male horse with undeveloped testicals

g    114934
m     47426
f     25161
c      4732
h      2277
r        75
Name: SEX, dtype: int64

In [509]:
# Merged Data

In [510]:
merged_data=horse_past_race.drop(['CTY','DAYS','TBASE','RACEID','TRT','WRT','WEIGHTS','LIMIT','FF','SCRS'],axis=1)

In [511]:
merged_data.drop(['WN','QN','EX','TT'],axis=1,inplace=True)

In [512]:
merged_data.shape

(194605, 33)

In [513]:
merged_data.isnull().sum()

JOCKEY         54
ALL             0
WGT             0
AGE             0
SEX             0
WINS            0
PL2             0
PL3             0
XPEAK           0
POS             0
JRT             0
HORSEID         0
JockeyWinP      0
JockeyRATE      0
TrainerWinP     0
TrainerRATE     0
FIN             0
G               0
TIME            0
TW              0
EI              0
FO              0
PC1             0
PC2             0
DIST            0
JUMP            0
CLAIM           0
NREC            0
GOING           0
T4              0
PD1             0
PD2             0
PD3             0
dtype: int64

In [514]:
merged_data.dropna(inplace=True)

In [515]:
merged_data.drop('FIN',axis=1,inplace=True)

In [516]:
merged_data['G'].value_counts()

G    98506
D    47589
S    19865
H    18186
3     5316
4     1908
5      825
6      567
X      444
7      426
8      341
9      273
2      154
F      147
1        4
Name: G, dtype: int64

In [517]:
merged_data.drop('G',axis=1,inplace=True)

In [518]:
merged_data.shape

(194551, 31)

In [519]:
merged_data.DIST.nunique()

421

In [520]:
merged_data.drop('DIST',axis=1,inplace=True)

In [521]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 194551 entries, 0 to 194604
Data columns (total 30 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   JOCKEY       194551 non-null  object
 1   ALL          194551 non-null  float64
 2   WGT          194551 non-null  float64
 3   AGE          194551 non-null  float64
 4   SEX          194551 non-null  object
 5   WINS         194551 non-null  float64
 6   PL2          194551 non-null  float64
 7   PL3          194551 non-null  float64
 8   XPEAK        194551 non-null  float64
 9   POS          194551 non-null  float64
 10  JRT          194551 non-null  float64
 11  HORSEID      194551 non-null  object
 12  JockeyWinP   194551 non-null  float64
 13  JockeyRATE   194551 non-null  float64
 14  TrainerWinP  194551 non-null  float64
 15  TrainerRATE  194551 non-null  float64
 16  TIME         194551 non-null  float64
 17  TW           194551 non-null  float64
 18  EI           194551 non-null  float64
 19  FO           194551 non-null  float64
 20  PC1          194551 non-null  float64
 21  PC2          194551 non-null  float64
 22  JUMP         194551 non-null  object
 23  CLAIM        194551 non-null  object
 24  NREC         194551 non-null  int64
 25  GOING        194551 non-null  object
 26  T4           194551 non-null  int64
 27  PD1          194551 non-null  float64
 28  PD2          194551 non-null  float64
 29  PD3          194551 non-null  float64
dtypes: float64(22), int64(2), object(6)
memory usage: 46.0+ MB

In [522]:
merged_data['TW'].value_counts()

0.0     171862
3.0       2396
1.0       2379
2.0       2379
4.0       2371
5.0       2369
6.0       2278
7.0       2096
8.0       1823
9.0       1480
10.0      1126
11.0       847
12.0       565
13.0       274
14.0       180
15.0        62
16.0        39
17.0        11
18.0         7
19.0         2
20.0         2
22.0         1
23.0         1
21.0         1
Name: TW, dtype: int64

In [523]:
merged_data['GOING'].value_counts()

GOOD3    71478
GOOD     30485
DEAD4    29327
DEAD5    13403
SLOW6     9078
DEAD      7608
SLOW7     6689
HEAVY     6410
HVY8      5480
SLOW      4809
HVY9      4083
HVY10     3074
GOOD2     2374
GOOD4       77
FAST        68
FAST1       50
SLOW8       49
HVY3         9
Name: GOING, dtype: int64

In [524]:
# Mapping similar trak conditions

In [525]:
merged_data['GOING'].replace({'GOOD3':'GOOD','GOOD2':'GOOD','GOOD4':'GOOD','DEAD4':'DEAD','DEAD5':'DEAD',
                                                  'SLOW6':'SLOW','SLOW7':'SLOW','SLOW8':'SLOW',
                                                 'HVY':'HEAVY','HVY9':'HEAVY','HVY3':'HEAVY','HVY8':'HEAVY','HVY9':'HEAVY',
                                                 'FAST1':'FAST'},inplace=True)

In [526]:
merged_data['GOING'].replace({'HVY10':'HEAVY'},inplace=True)

In [527]:
merged_data['GOING'].value_counts()

GOOD     104414
DEAD      50338
SLOW      20625
HEAVY     19056
FAST        118
Name: GOING, dtype: int64

In [528]:
# Applying get dummies to the track conditions

In [529]:
track=pd.get_dummies(merged_data['GOING'])
track.head()

   DEAD  FAST  GOOD  HEAVY  SLOW
0     0     0     1      0     0
1     0     0     1      0     0
2     0     0     1      0     0
3     0     0     1      0     0
4     0     0     1      0     0

In [530]:
merged_data=pd.concat([merged_data,track],axis=1)
merged_data.head()

,JOCKEY,ALL,WGT,AGE,SEX,WINS,PL2,PL3,XPEAK,POS,...,GOING,T4,PD1,PD2,PD3,DEAD,FAST,GOOD,HEAVY,SLOW
0,K JENNINGS,2.0,57.0,4.0,m,0.0,0.0,0.0,0.0,9.0,...,GOOD,0,1.3,2.1,3.2,0,0,1,0,0
1,W COSTIN,2.0,57.0,4.0,m,0.0,0.0,0.0,51.4,4.0,...,GOOD,0,1.3,2.1,3.2,0,0,1,0,0
2,B CLARK,0.0,57.0,4.0,m,0.0,1.0,2.0,51.8,2.0,...,GOOD,0,1.3,2.1,3.2,0,0,1,0,0
3,S POLLARD,0.0,57.0,5.0,m,0.0,2.0,2.0,54.5,5.0,...,GOOD,0,1.3,2.1,3.2,0,0,1,0,0
4,J KISSICK,0.0,57.0,4.0,m,0.0,1.0,0.0,62.4,1.0,...,GOOD,0,1.3,2.1,3.2,0,0,1,0,0

In [531]:
merged_data.drop('GOING',axis=1,inplace=True)

In [532]:
merged_data.drop('JRT',axis=1,inplace=True)

In [533]:
merged_data.drop('T4',axis=1,inplace=True)

In [534]:
merged_data['CLAIM'].value_counts()

Can       178237
Cannot     16314
Name: CLAIM, dtype: int64

In [535]:
merged_data['CLAIM'].replace({'Can':1,'Cannot':0},inplace=True)

In [536]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 194551 entries, 0 to 194604
Data columns (total 32 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   JOCKEY       194551 non-null  object
 1   ALL          194551 non-null  float64
 2   WGT          194551 non-null  float64
 3   AGE          194551 non-null  float64
 4   SEX          194551 non-null  object
 5   WINS         194551 non-null  float64
 6   PL2          194551 non-null  float64
 7   PL3          194551 non-null  float64
 8   XPEAK        194551 non-null  float64
 9   POS          194551 non-null  float64
 10  HORSEID      194551 non-null  object
 11  JockeyWinP   194551 non-null  float64
 12  JockeyRATE   194551 non-null  float64
 13  TrainerWinP  194551 non-null  float64
 14  TrainerRATE  194551 non-null  float64
 15  TIME         194551 non-null  float64
 16  TW           194551 non-null  float64
 17  EI           194551 non-null  float64
 18  FO           194551 non-null  float64
 19  PC1          194551 non-null  float64
 20  PC2          194551 non-null  float64
 21  JUMP         194551 non-null  object
 22  CLAIM        194551 non-null  int64
 23  NREC         194551 non-null  int64
 24  PD1          194551 non-null  float64
 25  PD2          194551 non-null  float64
 26  PD3          194551 non-null  float64
 27  DEAD         194551 non-null  uint8
 28  FAST         194551 non-null  uint8
 29  GOOD         194551 non-null  uint8
 30  HEAVY        194551 non-null  uint8
 31  SLOW         194551 non-null  uint8
dtypes: float64(21), int64(2), object(4), uint8(5)
memory usage: 42.5+ MB

In [537]:
merged_data.skew()

ALL             1.657445
WGT             1.310990
AGE             0.844922
WINS            1.867417
PL2             1.904525
PL3             1.884501
XPEAK          -2.764475
POS             0.425629
JockeyWinP      1.315624
JockeyRATE      0.196007
TrainerWinP     0.841808
TrainerRATE     0.690240
TIME            2.756448
TW              3.655029
EI              0.680524
FO              0.385956
PC1             2.019970
PC2             1.010765
CLAIM          -3.002844
NREC            0.232797
PD1             4.688490
PD2             3.569300
PD3             2.766420
DEAD            1.101801
FAST           40.568008
GOOD           -0.147167
HEAVY           2.705205
SLOW            2.559582
dtype: float64

In [538]:
merged_data.to_csv('Final.csv')

In [562]:
merged_data[merged_data['POS']==1]

,JOCKEY,ALL,WGT,AGE,SEX,WINS,PL2,PL3,XPEAK,POS,...,CLAIM,NREC,PD1,PD2,PD3,DEAD,FAST,GOOD,HEAVY,SLOW
4,J KISSICK,0.0,57.0,4.0,m,0.0,1.0,0.0,62.4,1.0,...,1,12,1.3,2.1,3.2,0,0,1,0,0
9,R BENSLEY,0.0,58.0,4.0,g,1.0,2.0,1.0,59.6,1.0,...,1,7,1.4,1.8,0.0,0,0,1,0,0
14,G BUCKLEY,0.0,59.0,5.0,g,4.0,0.0,0.0,61.4,1.0,...,1,7,3.0,2.3,0.0,0,0,1,0,0
22,K SWEENEY,0.0,54.5,4.0,g,2.0,1.0,2.0,61.1,1.0,...,1,8,2.6,10.2,0.0,0,0,1,0,0
28,M TRAVERS,0.0,56.0,6.0,g,2.0,2.0,2.0,55.6,1.0,...,1,8,2.1,7.4,2.8,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194564,S SHEARGOLD,0.0,58.5,3.0,g,4.0,2.0,1.0,57.0,1.0,...,1,7,1.5,1.6,0.0,0,0,1,0,0
194570,A PATTILLO,0.0,55.5,4.0,g,3.0,0.0,0.0,59.0,1.0,...,1,8,2.8,2.2,0.0,0,0,1,0,0
194575,A PATTILLO,0.0,59.0,4.0,m,1.0,3.0,3.0,60.2,1.0,...,1,12,2.0,1.8,3.7,0,0,1,0,0
194592,A PATTILLO,0.0,54.0,6.0,g,4.0,2.0,2.0,59.2,1.0,...,1,9,1.8,1.7,3.1,0,0,1,0,0
194601,C MCIVER,0.0,57.5,4.0,g,3.0,2.0,2.0,58.2,1.0,...,1,14,4.0,3.3,1.6,0,0,1,0,0

# Model

In [540]:
X=merged_data.drop(['POS','JOCKEY','HORSEID','JUMP','SEX'],axis=1)
y=merged_data['POS'].values

In [541]:
from sklearn.model_selection import train_test_split

In [542]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [543]:
# Scaling the data

In [544]:
from sklearn.preprocessing import StandardScaler

In [545]:
ss=StandardScaler()

In [546]:
ss.fit_transform(X)

array([[ 1.3711204 ,  0.12831717, -0.34567251, ...,  0.9291208 ,
        -0.3295213 , -0.34436161],
       [ 1.3711204 ,  0.12831717, -0.34567251, ...,  0.9291208 ,
        -0.3295213 , -0.34436161],
       [-0.52317543,  0.12831717, -0.34567251, ...,  0.9291208 ,
        -0.3295213 , -0.34436161],
       ...,
       [-0.52317543,  0.12831717,  1.61088901, ...,  0.9291208 ,
        -0.3295213 , -0.34436161],
       [-0.52317543, -0.78509476,  0.95870184, ...,  0.9291208 ,
        -0.3295213 , -0.34436161],
       [-0.52317543, -1.24180072,  1.61088901, ...,  0.9291208 ,
        -0.3295213 , -0.34436161]])

In [547]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report,roc_auc_score

# Applying LDA

In [548]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [549]:
LDA=LinearDiscriminantAnalysis(n_components=20)

In [550]:
LDA.fit(X_train,y_train)

LinearDiscriminantAnalysis(n_components=20, priors=None, shrinkage=None,
                           solver='svd', store_covariance=False, tol=0.0001)

In [551]:
ytrain_pred=LDA.predict(X_train)
ytrain_prob=LDA.predict_proba(X_train)
ytest_pred=LDA.predict(X_test)
ytest_prob=LDA.predict_proba(X_test)

In [552]:
print("AUC of Train: ", roc_auc_score(y_train,ytrain_prob,multi_class='ovr'))
print("AUC score of test: ", roc_auc_score(y_test,ytest_prob,multi_class='ovr'))

AUC of Train:  0.8049332266762224
AUC score of test:  0.8015663240638699

In [553]:
print(classification_report(y_test,ytest_pred))

              precision    recall  f1-score   support

         1.0       0.22      0.59      0.32      5889
         2.0       0.15      0.11      0.13      5832
         3.0       0.13      0.10      0.12      5687
         4.0       0.12      0.08      0.10      5765
         5.0       0.13      0.12      0.12      5655
         6.0       0.13      0.12      0.12      5578
         7.0       0.13      0.11      0.12      5259
         8.0       0.13      0.13      0.13      4786
         9.0       0.12      0.08      0.09      4184
        10.0       0.12      0.15      0.14      3330
        11.0       0.11      0.07      0.09      2569
        12.0       0.16      0.11      0.13      1825
        13.0       0.10      0.02      0.04      1033
        14.0       0.11      0.02      0.03       638
        15.0       0.06      0.08      0.07       206
        16.0       0.02      0.01      0.01       109
        17.0       0.01      0.08      0.01        12
        18.0       0.00      0.00      0.00         4
        19.0       0.00      0.00      0.00         2
        20.0       0.00      0.00      0.00         1
        21.0       0.00      0.00      0.00         1
        22.0       0.00      0.00      0.00         0
        23.0       0.00      0.00      0.00         1
        24.0       0.00      0.00      0.00         0

    accuracy                           0.15     58366
   macro avg       0.08      0.08      0.07     58366
weighted avg       0.14      0.15      0.13     58366

C:\Users\sidko\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\sidko\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1272: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# Random Forest

In [554]:
from sklearn.ensemble import RandomForestClassifier

In [555]:
rf=RandomForestClassifier(random_state=0,n_estimators=200,max_depth=8)

In [556]:
rf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=8, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [557]:
ytrain_pred=rf.predict(X_train)
ytrain_prob=rf.predict_proba(X_train)
ytest_pred=rf.predict(X_test)
ytest_prob=rf.predict_proba(X_test)

In [558]:
print("AUC of Train: ", roc_auc_score(y_train,ytrain_prob,multi_class='ovr'))
print("AUC score of test: ", roc_auc_score(y_test,ytest_prob,multi_class='ovr'))

AUC of Train:  0.8343902267284146
AUC score of test:  0.7909404526907543

In [559]:
print(classification_report(y_test,ytest_pred))

              precision    recall  f1-score   support

         1.0       0.22      0.71      0.33      5889
         2.0       0.13      0.09      0.11      5832
         3.0       0.12      0.06      0.08      5687
         4.0       0.14      0.09      0.11      5765
         5.0       0.15      0.10      0.12      5655
         6.0       0.14      0.09      0.11      5578
         7.0       0.13      0.14      0.13      5259
         8.0       0.15      0.22      0.18      4786
         9.0       0.14      0.09      0.11      4184
        10.0       0.14      0.15      0.15      3330
        11.0       0.18      0.07      0.10      2569
        12.0       0.17      0.06      0.09      1825
        13.0       0.17      0.01      0.02      1033
        14.0       0.36      0.02      0.04       638
        15.0       0.00      0.00      0.00       206
        16.0       0.00      0.00      0.00       109
        17.0       0.00      0.00      0.00        12
        18.0       0.00      0.00      0.00         4
        19.0       0.00      0.00      0.00         2
        20.0       0.00      0.00      0.00         1
        21.0       0.00      0.00      0.00         1
        23.0       0.00      0.00      0.00         1

    accuracy                           0.17     58366
   macro avg       0.11      0.09      0.08     58366
weighted avg       0.15      0.17      0.14     58366

C:\Users\sidko\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [560]:
merged_data.to_csv('Horse_final.csv')